@charset "utf-8";
/* =========================================================================================================
	Font
========================================================================================================= */
@font-face {
	font-family:NanumSquare;
	font-style:normal;
	font-weight:normal;
	src:url(font/NanumSquareR.eot);
	src:local(※),
	url(font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
	url(font/NanumSquareR.woff) format('woff'),
	url(font/NanumSquareR.ttf) format('truetype');
}
@font-face {
	font-family:NanumSquare;
	font-style:normal;
	font-weight:bold;
	src:url(font/NanumSquareB.eot);
	src:local(※),
	url(font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
	url(font/NanumSquareB.woff) format('woff'),
	url(font/NanumSquareB.ttf) format('truetype');
}
@font-face {
	font-family:NanumSquare;
	font-style:normal;
	font-weight:900;
	src:url(font/NanumSquareEB.eot);
	src:local(※),
	url(font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
	url(font/NanumSquareEB.woff) format('woff'),
	url(font/NanumSquareEB.ttf) format('truetype');
}

/* =========================================================================================================
	Reset
========================================================================================================= */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;outline:0;}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button,select {font-family:'NanumSquare';font-size:15px;line-height:1.3;color:#333;}
body {width:100%;-webkit-user-select:none}
input[type=text],
input[type=number],
input[type=password] {
	width:100%;
	height:41px;
	padding:0 10px;
	box-sizing:border-box;
	border:0;
	border-radius:0;
	background-color:#fff;
	color:#444;
	font-size:14px;
	line-height:41px;
	-webkit-appearance:none;-moz-appearance:none;appearance:none;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	vertical-align:top;
}
.input-price {
	position:relative;
	padding-right:20px;
	height:45px;
	line-height:45px;
}
.input-price .text {
	position:absolute;
	right:0;top:0;
	color:#545045;
	font-size:14px;
}
input[type=text]:disabled,
input[type=number]:disabled,
input[type=password]:disabled {
	background-color:#eee;
}
input[type=submit] {-webkit-border-radius:0;border:0;border-radius:0;-webkit-appearance:none;}
textarea {
	width:100%;
	padding:8px 10px;
	border:1px solid #888;
	border-radius:4px;
	background-color:#fff;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	color:#444;
	font-size:14px;
	line-height:17px ;
	-webkit-appearance:none;-moz-appearance:none;appearance:none;
	word-break:keep-all;
	word-wrap:break-word;
}
.placeholder {color:#888}
:-ms-input-placeholder {color:#888;}
::-webkit-input-placeholder {color:#888;}
::-moz-placeholder{color:#888;}
select {
	height:25px;
	padding:0 0 0 10px;
	border:1px solid #e6e6e6;
	border-radius:0;
	background-color:#fff;
	color:#666;
	font-size:12px;
	line-height:25px;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
.hide {position:absolute;left:-9999px;top:-9999px;width:0;height:0;text-indent:-9999px;font-size:0;line-height:0;opacity:0;}
caption {display:none; visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
table {table-layout:fixed;width:100%;margin:0;padding:0;border-spacing:0;border:0;border-collapse:collapse;}
*+html table {border-collapse:collapse;}
button {outline:0;vertical-align:top;}

/* =========================================================================================================
	Layout
========================================================================================================= */
.wrapper {}
.header {
	min-height:146px;
}


/* =========================================================================================================
	공통
========================================================================================================= */
/* 모달 배경 */
.modal-white {
	position:fixed;
	left:0;right:0;top:0;bottom:0;
	background-color:rgba(255,255,255,.8);
}

/* =========================================================================================================
	상단 배너
========================================================================================================= */
.top-banner {background-color:#8bc838;}
	.top-banner .inner {
		position:relative;
		width:1120px;
		margin:0 auto;
	}
	.top-banner .btn-close {
		position:absolute;
		right:-7px;top:14px;
		width:40px;
		height:40px;
		font-size:0;
		text-indent:-9999px;
		line-height:0;
	}

/* =========================================================================================================
	해더
========================================================================================================= */
.header {}

.head-top {
	position:relative;
	width:1120px;
	height:96px;
	margin:0 auto;
	background-color:#fff;
}
	.head-top .s-logo {
		width:117px;
		margin:0 auto;
		padding:45px 0 0;
	}
		.head-top .s-logo a {
			display:block;
			height:32px;
			font-size:0;
			line-height:0;
			background:url(../img/sprite/layout.png) no-repeat 0 0;
		}
	.header .search-area {
		width:280px;
		height:32px;
	}
		.header .search-area .search-text {
			height:32px;
			padding:0 43px 0 15px;
			background-color:#f3f3f3;
			font-size:13px;
			line-height:32px;
		}
		.header .search-area .btn-search {
			position:absolute;
			right:0;
			top:0;
			width:43px;
			height:32px;
			background:url(../img/sprite/button.png) no-repeat 0 0;
			font-size:0;
			line-height:0;
		}
	.head-top .search-area {
		position:absolute;
		right:0;
		top:47px;
	}

	.head-btm .search-area {
		display:none;
		position:absolute;
		right:20px;
		top:8px;
	}

		.head-top .search-area .search-text {background-color:#f3f3f3;}

.head-btm {
	width:100%;
	border-bottom:1px solid #ddd;
}
	.head-btm .gnb {
		position:relative;
		width:1120px;
		height:48px;
		margin:0 auto;
		border:1px solid #ddd;
		border-bottom:0;
	}
	.head-btm .btn-menu {
		position:absolute;
		left:0;top:0;
		width:57px;
		height:48px;
		border-right:1px solid #ddd;
		background:url(../img/sprite/button.png) no-repeat 0 -34px;
		font-size:0;
		line-height:0;
	}
	.head-btm .gnb-list {
		overflow:hidden;
		margin-left:58px;
	}
	.head-btm .gnb-item {
		float:left;
	}
		.head-btm .gnb-item .link {
			display:block;
			padding:0 26px;
			height:48px;
			font-size:17px;
			font-weight:bold;
			line-height:48px;
		}

	.head-btm .my-menu {
		overflow:hidden;
		position:absolute;
		right:5px;
		top:14px;
		height:21px;
	}
	.head-btm .my-item {
		float:left;
	}
		.head-btm .my-item .link {
			display:block;
			position:relative;
			padding:0 11px 0 12px;
			font-size:13px;
			line-height:21px;
		}
		.head-btm .my-item .link:before {
			content:'';
			position:absolute;
			left:0;
			top:50%;
			width:1px;
			height:12px;
			margin-top:-6px;
			background-color:#ddd;
		}
		.head-btm .my-item:first-child .link:before {display:none;}
			.head-btm .my-item .link .number {
				display:inline-block;
				margin-left:7px;
				padding:0 7px;
				border-radius:25px;
				background-color:#8bc838;
				color:#fff;
				font-weight:bold;
			}

/* 스크롤 다운시 */
.down .head-btm {
	position:fixed;
	left:0;
	right:0;
	top:0;
	background-color:#555;
	border-bottom:1px solid #555;
}
	.down .head-btm .gnb {border-color:#555;}
	.down .head-btm .btn-menu {
		border-color:#000;
		background:#000 url(../img/sprite/button.png) no-repeat 0 -84px;
	}
	.down .head-btm .gnb-item .link {color:#fff;}
.down .head-btm .my-menu {display:none;}
.down .head-btm .search-area {display:block;}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	메뉴 레이어
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.menu-layer {
	display:none;
	position:absolute;
	left:-1px;top:0;
	width:1122px;
	border-bottom:3px solid #333;
	background-color:#fff;
	z-index:1;
	box-shadow:0px 2px 19px rgba(0,0,0,.3);
}
.menu-layer .lnb {
	position:relative;
	width:180px;
}
.menu-layer .lnb:before {
	content:'';
	position:absolute;
	right:1px;
	top:0;
	bottom:0;
	width:5px;
	background-color:rgba(0,0,0,.1);
}
	.menu-layer .lnb .btn-close {
		position:relative;
		width:100%;
		height:50px;
		padding-left:54px;
		background-color:#000;
		color:#fff;
		font-size:17px;
		font-weight:900;
		text-align:left;
		line-height:50px;
	}
	.menu-layer .lnb .btn-close:before {
		content:'';
		position:absolute;
		left:20px;top:50%;
		width:20px;
		height:20px;
		margin-top:-10px;
		background:url(../img/sprite/button.png) no-repeat 0 -134px;
	}

	.menu-layer .lnb-list {
		height:249px;
		border-left:3px solid #333;
		background-color:#eee;
	}
	.menu-layer .lnb-item {
		padding:0 30px 0 17px;
		border-right:1px solid #60b015;
		cursor:pointer;
	}
		.menu-layer .lnb-item .text {
			display:block;
			height:49px;
			padding:0 5px;
			border-bottom:1px solid #ccc;
			font-size:17px;
			font-weight:bold;
			line-height:49px;
		}
		.menu-layer .lnb-item:last-child .text {border-bottom:0;}

	/* on */
	.menu-layer .lnb-item.on {
		position:relative;
		margin-top:-1px;
		border-color: #fff;
		border-top:1px solid #60b015;
		border-bottom:1px solid #60b015;
		box-shadow:0 5px 0px rgba(0,0,0,.1);
		background:#fff url(../img/icon/icon_lnb.png) no-repeat 100% 50%;
	}
	.menu-layer .lnb-item:first-child.on {
		margin-top:0;
		border-top:0;
	}
		.menu-layer .lnb-item.on .text {
			border-bottom:0;
			color:#60b015;
		}

.menu-layer .lnb .mune-list {
	padding:23px 0;
	border-left:3px solid #333;
	border-right:1px solid #60b015;
	background-color:#ddd;
}
.menu-layer .lnb .menu-item {padding:0 20px;}
	.menu-layer .lnb .menu-item .link {
		display:block;
		height:35px;
		color:#555;
		font-size:14px;
		font-weight:bold;
		line-height:35px;
	}
.menu-layer .lnb .add-area {
	border-left:3px solid #333;
	border-right:1px solid #60b015;
}
	.menu-layer .lnb .add-area a {
		display:block;
		overflow:hidden;
		height:194px;
	}

.menu-layer .gnb-list {
	position:absolute;
	left:180px;
	right:0;
	top:0;
	margin-left:0;
	background-color:#555;
}
.menu-layer .gnb-item {width:14%;}
.menu-layer .gnb-item:last-child {width:16%;}
.menu-layer .gnb-item .link {
	height:50px;
	padding:0;
	color:#fff;
	text-align:center;
	line-height:50px;
}

.menu-layer .menu-area {
	overflow:hidden;
	position:absolute;
	left:185px;
	right:0;
	top:50px;
	bottom:0;
	background-color:#fff;
	border-right:3px solid #333;
}
.menu-category {
	display:none;
	position:relative;
	height:100%;
}
.menu-category.on {display:block;}/* on */
.menu-layer .menu-depth {
	overflow:hidden;
	float:left;
	position:relative;
	width:16%;
	height:100%;
}
.menu-layer .menu-depth:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:1px;
	background-color:#8bc838;
}
.menu-layer .menu-depth:first-child:before {display:none;}
.menu-layer .menu-depth.wide {width:34%;}
	.menu-layer .depth-title {}
		.menu-layer .depth-title .text {
			display:block;
			height:50px;
			padding-left:20px;
			color:#60b015;
			font-size:17px;
			font-weight:bold;
			line-height:50px;
		}
	.menu-layer .menu-depth .depth-box {
		float:left;
		position:relative;
		width:50%;
		height:100%;
	}
	.menu-layer .menu-depth .depth-box:last-child:before {
		content:'';
		position:absolute;
		left:0;
		top:0;
		bottom:0;
		width:1px;
		background-color:#eee;
	}

.menu-layer .menu-depth .depth2 {margin-top:30px;}
.menu-layer .menu-depth .depth2:first-child {margin-top:0;}
	.menu-layer .menu-depth .depth2 .title .text {
		display:block;
		padding-left:20px;
		height:30px;
		color:#000;
		font-size:15px;
		font-weight:bold;
		line-height:30px;
	}
	.menu-layer .menu-depth .depth2 .depth-list {}
		.menu-layer .menu-depth .depth2 .depth-item {
			margin-top:8px;
		}
			.menu-layer .menu-depth .depth2 .depth-item .text {
				display:block;
				padding-left:20px;
				color:#888;
				font-size:14px;
				line-height:20px;
			}

.menu-layer .menu-area {}

/* 카테고리별 */
.menu-area .recommendation {
	overflow:hidden;
	position:relative;
	height:100%;
	border-left:1px solid #60b015;
}
.menu-area .recommendation .goods-list {
	width:60%;
}
.menu-area .recommendation .thumb-list {
	overflow:hidden;
	margin:-30px 0 0 -1px;
}
.menu-area .recommendation .thumb-item {
	float:left;
	width:33.3333333%;
	margin-top:30px;
}
	.menu-area .recommendation .thumb-item .link {
		display:block;
		height:170px;
		border-left:1px solid #eee;
		text-align:center;
	}
	.menu-area .recommendation .thumb-item .img-area {
		font-size:0;
		line-height:0;
	}
		.menu-area .recommendation .thumb-item .img-area img {}

	.menu-area .recommendation .thumb-item .text-area {}
		.menu-area .recommendation .thumb-item .text-area .name {
			height:40px;
			color:#666;
			font-size:14px;
			line-height:20px;
		}
		.menu-area .recommendation .thumb-item .text-area .price {
			color:#333;
			font-size:14px;
			line-height:23px;
		}
			.menu-area .recommendation .thumb-item .text-area .price .number {
				font-size:18px;
				font-weight:bold;
			}