<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<title>한살림 장보기</title>

	<link rel="stylesheet" type="text/css" href="../css/common.css">
</head>

<body>
<div class="top-banner">
	<div class="inner">
		<img src="../img/temp/top_banner.png" alt="">
		<button type="button" class="btn-close">닫기</button>
	</div>
</div>


<div class="wrapper">
	<div class="header">
		<div class="head-top">
			<h1 class="s-logo"><a href="#">한살림</a></h1>
			<div class="search-area">
				<input type="text" placeholder="검색어를 입력하세요" class="search-text">
				<button type="button" class="btn-search">검색</button>
			</div>
		</div>

		<div class="head-btm">
			<div class="gnb">
				<button type="button" class="btn-menu">메뉴</button>
				<ul class="gnb-list">
					<li class="gnb-item"><a href="#" class="link">홈</a></li>
					<li class="gnb-item"><a href="#" class="link">요리</a></li>
					<li class="gnb-item"><a href="#" class="link">매장</a></li>
					<li class="gnb-item"><a href="#" class="link">캠페인</a></li>
					<li class="gnb-item"><a href="#" class="link">물품소식</a></li>
					<li class="gnb-item"><a href="#" class="link">브랜드관</a></li>
					<li class="gnb-item"><a href="#" class="link">선물택배</a></li>
				</ul>
				<ul class="my-menu">
					<li class="my-item"><a href="#" class="link">로그아웃</a></li>
					<li class="my-item"><a href="#" class="link">장바구니</a></li>
					<li class="my-item"><a href="#" class="link">나의 한살림</a></li>
					<li class="my-item"><a href="#" class="link">알림<span class="number">15</span></a></li>
					<li class="my-item"><a href="#" class="link">1:1상담</a></li>
				</ul>
				<!-- 메뉴 레이어 -->
				<div class="menu-layer">
					<div class="lnb">
						<button type="button" class="btn-close">전체보기 닫기</button>
						<ul class="lnb-list">
							<li class="lnb-item on"><span class="text">전체 카테고리</span></li>
							<li class="lnb-item"><span class="text">농산</span></li>
							<li class="lnb-item"><span class="text">축수산</span></li>
							<li class="lnb-item"><span class="text">가공</span></li>
							<li class="lnb-item"><span class="text">생활</span></li>
						</ul>
						<ul class="mune-list">
							<li class="menu-item"><a href="#" class="link">새로 공급하는 물품</a></li>
							<li class="menu-item"><a href="#" class="link">맞춤형 추천물품</a></li>
							<li class="menu-item"><a href="#" class="link">기획전</a></li>
							<li class="menu-item"><a href="#" class="link">특별품 올해의 주문일정</a></li>
							<li class="menu-item"><a href="#" class="link">한살림 소식</a></li>
						</ul>
						<div class="add-area">
							<a href="#"><img src="../img/temp/img_add.jpg" alt="광고영역"></a>
						</div>
					</div>
					<div class="gnb-copy"></div>
					<div class="menu-area">
						<!-- 전체 카테고리 -->
						<div class="menu-category">
							<!-- 농산 -->
							<div class="menu-depth">
								<h2 class="depth-title"><a href="#" class="text">농산</a></h2>
								<div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">쌀/잡곡</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">멥쌀/찹쌀</a></li>
											<li class="depth-item"><a href="#" class="text">잡곡/깨</a></li>
											<li class="depth-item"><a href="#" class="text">콩류</a></li>
											<li class="depth-item"><a href="#" class="text">혼합곡/보리/유색미</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">채소/버섯</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">콩나물/숙주</a></li>
											<li class="depth-item"><a href="#" class="text">잎/줄기채소</a></li>
											<li class="depth-item"><a href="#" class="text">열매채소</a></li>
											<li class="depth-item"><a href="#" class="text">뿌리채소</a></li>
											<li class="depth-item"><a href="#" class="text">버섯류</a></li>
											<li class="depth-item"><a href="#" class="text">말린나물류</a></li>
											<li class="depth-item"><a href="#" class="text">손질한채소</a></li>
											<li class="depth-item"><a href="#" class="text">양념/조미채소</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">과일/견과</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">건조/냉동과일</a></li>
											<li class="depth-item"><a href="#" class="text">견과류</a></li>
											<li class="depth-item"><a href="#" class="text">과일/과채</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- 축수산 -->
							<div class="menu-depth">
								<h2 class="depth-title"><a href="#" class="text">축수산</a></h2>
								<div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">축산/축산가공</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">유정란</a></li>
											<li class="depth-item"><a href="#" class="text">한우</a></li>
											<li class="depth-item"><a href="#" class="text">돼지</a></li>
											<li class="depth-item"><a href="#" class="text">닭/오리</a></li>
											<li class="depth-item"><a href="#" class="text">햄/소시지</a></li>
											<li class="depth-item"><a href="#" class="text">육가공</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">수산/수산가공</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">생선/손질생선</a></li>
											<li class="depth-item"><a href="#" class="text">멸치/황태/건어</a></li>
											<li class="depth-item"><a href="#" class="text">패류/오징어/새우</a></li>
											<li class="depth-item"><a href="#" class="text">미역/다시마/해조</a></li>
											<li class="depth-item"><a href="#" class="text">김/조미김</a></li>
											<li class="depth-item"><a href="#" class="text">젓갈/게장</a></li>
											<li class="depth-item"><a href="#" class="text">말린오징어/어포</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- 가공 -->
							<div class="menu-depth wide">
								<h2 class="depth-title"><a href="#" class="text">가공</a></h2>
								<div class="depth-box">
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">반찬/양념/가루</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">두부/어묵/묵</a></li>
											<li class="depth-item"><a href="#" class="text">김치/밑반찬</a></li>
											<li class="depth-item"><a href="#" class="text">된장/고추장/간장</a></li>
											<li class="depth-item"><a href="#" class="text">기름/식초/소금</a></li>
											<li class="depth-item"><a href="#" class="text">소스/양념/조청</a></li>
											<li class="depth-item"><a href="#" class="text">곡식가루/혼합가루</a></li>
											<li class="depth-item"><a href="#" class="text">과채/고춧가루</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">식사대용/간편식</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">라면/간편조리면</a></li>
											<li class="depth-item"><a href="#" class="text">국수/면</a></li>
											<li class="depth-item"><a href="#" class="text">만두/피자/핫도그</a></li>
											<li class="depth-item"><a href="#" class="text">씨리얼/생식/선식</a></li>
											<li class="depth-item"><a href="#" class="text">국/탕/요리</a></li>
											<li class="depth-item"><a href="#" class="text">죽/간편밥/밥양념</a></li>
										</ul>
									</div>
								</div>
								<div class="depth-box">
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">간식/음료/유제품</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">우리밀빵</a></li>
											<li class="depth-item"><a href="#" class="text">떡/한과</a></li>
											<li class="depth-item"><a href="#" class="text">과자</a></li>
											<li class="depth-item"><a href="#" class="text">우유/두유/유제품</a></li>
											<li class="depth-item"><a href="#" class="text">과즙/발효/전통/<br>음용식초</a></li>
											<li class="depth-item"><a href="#" class="text">잼/푸딩</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">건강/차</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">홍삼/녹용/산양삼</a></li>
											<li class="depth-item"><a href="#" class="text">건강즙/농축액</a></li>
											<li class="depth-item"><a href="#" class="text">분말/환/절편</a></li>
											<li class="depth-item"><a href="#" class="text">꿀/화분/로얄젤리</a></li>
											<li class="depth-item"><a href="#" class="text">건강차</a></li>
											<li class="depth-item"><a href="#" class="text">일반차</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">대용량/어린이집</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">대용량/어린이집</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- 생활 -->
							<div class="menu-depth wide">
								<h2 class="depth-title"><a href="#" class="text">생활</a></h2>
								<div class="depth-box">
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">화장품</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">기초화장</a></li>
											<li class="depth-item"><a href="#" class="text">색조화장품</a></li>
											<li class="depth-item"><a href="#" class="text">세안제/팩</a></li>
											<li class="depth-item"><a href="#" class="text">유아/썬크림</a></li>
											<li class="depth-item"><a href="#" class="text">바디/핸드</a></li>
											<li class="depth-item"><a href="#" class="text">남성화장품</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">주방/욕실/세정</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">주방세제/세정</a></li>
											<li class="depth-item"><a href="#" class="text">세제/세탁비누</a></li>
											<li class="depth-item"><a href="#" class="text">샴푸/린스/헤어용품</a></li>
											<li class="depth-item"><a href="#" class="text">세안비누/온몸세정</a></li>
											<li class="depth-item"><a href="#" class="text">치약/칫솔</a></li>
											<li class="depth-item"><a href="#" class="text">주방소품</a></li>
										</ul>
									</div>
								</div>
								<div class="depth-box">
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">휴지/위생/환경</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">휴지/티슈</a></li>
											<li class="depth-item"><a href="#" class="text">도서</a></li>
											<li class="depth-item"><a href="#" class="text">생리대/기저귀</a></li>
											<li class="depth-item"><a href="#" class="text">숯/원예</a></li>
											<li class="depth-item"><a href="#" class="text">위생/환경용품</a></li>
											<li class="depth-item"><a href="#" class="text">생활소품</a></li>
											<li class="depth-item"><a href="#" class="text">선물포장</a></li>
											<li class="depth-item"><a href="#" class="text">천연벽지</a></li>
											<li class="depth-item"><a href="#" class="text">기금(웹)</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<!-- 농산 -->
						<div class="menu-category on">
							<!-- 농산 -->
							<div class="menu-depth">
								<h2 class="depth-title"><a href="#" class="text">농산</a></h2>
								<div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">쌀/잡곡</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">멥쌀/찹쌀</a></li>
											<li class="depth-item"><a href="#" class="text">잡곡/깨</a></li>
											<li class="depth-item"><a href="#" class="text">콩류</a></li>
											<li class="depth-item"><a href="#" class="text">혼합곡/보리/유색미</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">채소/버섯</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">콩나물/숙주</a></li>
											<li class="depth-item"><a href="#" class="text">잎/줄기채소</a></li>
											<li class="depth-item"><a href="#" class="text">열매채소</a></li>
											<li class="depth-item"><a href="#" class="text">뿌리채소</a></li>
											<li class="depth-item"><a href="#" class="text">버섯류</a></li>
											<li class="depth-item"><a href="#" class="text">말린나물류</a></li>
											<li class="depth-item"><a href="#" class="text">손질한채소</a></li>
											<li class="depth-item"><a href="#" class="text">양념/조미채소</a></li>
										</ul>
									</div>
									<div class="depth2">
										<h3 class="title"><a href="#" class="text">과일/견과</a></h3>
										<ul class="depth-list">
											<li class="depth-item"><a href="#" class="text">건조/냉동과일</a></li>
											<li class="depth-item"><a href="#" class="text">견과류</a></li>
											<li class="depth-item"><a href="#" class="text">과일/과채</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="recommendation">
								<div class="goods-list">
									<h2 class="depth-title"><a href="#" class="text">추천물품</a></h2>
									<ul class="thumb-list">
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">대봉감말랭이<br>(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">땅콩나물(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">베타쌈배추(150g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">대봉감말랭이<br>(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">대봉감말랭이<br>(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">대봉감말랭이<br>(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">대봉감말랭이<br>(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">대봉감말랭이<br>(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
										<li class="thumb-item">
											<a href="#" class="link">
												<div class="img-area"><img src="../img/temp/thumb_152x114.jpg" alt="상품 이미지"></div>
												<div class="text-area">
													<p class="name">대봉감말랭이<br>(200g)</p>
													<p class="price"><span class="number">7,500</span>원</p>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="height:3000px;"></div>
</div>


<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</body>

</html>