@charset 'utf-8';

/* ============================================================================================
	Font
============================================================================================ */
/* Light */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:400;
	src:url('font/NotoSansCJKkr-Light.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Light.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Light.woff') format('woff'),
	url('font/NotoSansCJKkr-Light.ttf') format('truetype');
}
/* Regular */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:600;
	src:url('font/NotoSansCJKkr-Regular.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Regular.woff') format('woff'),
	url('font/NotoSansCJKkr-Regular.ttf') format('truetype');
}
/* Medium */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:900;
	src:url('font/NotoSansCJKkr-Medium.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Medium.woff') format('woff'),
	url('font/NotoSansCJKkr-Medium.ttf') format('truetype');
}

/* ============================================================================================
	Reset
============================================================================================ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;outline:0;}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button,select {font-family:noto;font-size:15px;line-height:1.5;color:#333;letter-spacing:-0.4px;}
body {overflow-x:hidden;width:100%;}
input[type=submit] {-webkit-border-radius:0;border:0;border-radius:0;-webkit-appearance:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;}
legend,caption {display:none; visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
table {table-layout:fixed;width:100%;margin:0;padding:0;border-spacing:0;border:0;border-collapse:collapse;}
*+html table {border-collapse:collapse;}
button {outline:0;vertical-align:top;}

input[type=text],
input[type=tel],
input[type=number],
input[type=password] {
	height:40px;
	padding:0 15px;
	box-sizing:border-box;
	border-radius:0;
	border:1px solid #c9c9c9;
	background-color:#fff;
	color:#111;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
input[type=text]:disabled,
input[type=tel]:disabled,
input[type=number]:disabled,
input[type=password]:disabled {
	
}

textarea {
	width:100%;
	padding:7px 17px;
	border:1px solid #c9c9c9;
	border-radius:0;
	background-color:#fff;
	box-sizing:border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	word-break:keep-all;
	word-wrap:break-word;
	resize:none;
}
:-ms-input-placeholder {color:#b3b3b3;}
::-webkit-input-placeholder {color:#b3b3b3;}
::-moz-placeholder {color:#b3b3b3;}

select {
	height:40px;
	padding:0 40px 0 14px;
	border:1px solid #ccc;
	background-color:#fff;
	box-sizing:border-box;
}

/* ============================================================================================
	공통
============================================================================================ */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	마진/패딩
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 마진 */
.mgT65 {margin-top:65px !important;}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	버튼
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 텍스트 */
.btn-text {
	display:inline-block;
	position:relative;
	min-width:180px;
	height:50px;
	padding:0 25px;
	box-sizing:border-box;
	border-radius:4px;
	background-color:#503799;
	color:#fff;
	font-size:18px;
	text-align:center;
	vertical-align:middle;
	line-height:50px;
	cursor:pointer;
	-webkit-transition:background-color .3s;
	-ms-transition:background-color .3s;
	transition:background-color .3s;
}
.btn-text:hover {background-color:#3d2e68;}

.btn-text.type1 {
	border:1px solid #503799;
	background-color:#fff;
	color:#503799;
	line-height:48px;
}
.btn-text.type1:hover {background-color:#f7f7f7;}

.btn-text.link {padding-right:58px;}
.btn-text.link:before {
	content:'';
	position:absolute;
	right:25px;
	top:0;
	bottom:0;
	width:8px;
	background-image:url(../images/icon/icon_arr_right04.png);
	background-repeat:no-repeat;
	background-position:0 50%;
}
.btn-text.type1.link:before {background-image:url(../images/icon/icon_arr_right05.png);}
.btn-text.type1.link:hover:before {background-image:url(../images/icon/icon_arr_right05_hover.png);}

.btn-text.disabled {
	background-color:#e6e6e6;
	color:#b3b3b3;
	cursor:not-allowed;
}

.btn-text.sm {
	min-width:auto;
	padding:0 20px;
	height:40px;
	line-height:40px;
}
.btn-text.sm.type1 {
	line-height:38px;
}
.btn-text.sm.link {padding-right:36px;}
.btn-text.sm.link:before {
	width:5px;
	right:10px;
	background-image:url(../images/icon/icon_arr_right02.png);
}
.btn-text.sm.type1.link:before {background-image:url(../images/icon/icon_arr_right01.png);opacity:.6;}
.btn-text.sm.type1.link:hover:before {opacity:.7;}

/* 텍스트 + 아이콘 */
.btn-icon-text {
	display:inline-block;
	height:32px;
	padding:0 15px 0 38px;
	box-sizing:border-box;
	border-radius:2px;
	border:1px solid #ccc;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:14px 50%;
	color:#777;
	font-size:14px;
	line-height:30px;
}
.btn-icon-text.icon1 {background-image:url(../images/icon/icon_btn01.png);}
.btn-icon-text.icon2 {background-image:url(../images/icon/icon_btn02.png);}
.btn-icon-text.icon3 {background-image:url(../images/icon/icon_btn03.png);}
.btn-icon-text.icon4 {background-image:url(../images/icon/icon_btn04.png);}

.btn-icon-link1 {
	display:inline-block;
	padding:9px 32px 9px 0;
	background:url(../images/icon/btn_link01.png) no-repeat 100% 50%;
	color:#7451c0;
	font-weight:600;
}
.btn-icon-link2 {
	display:inline-block;
	padding:9px 16px 9px 0;
	background:url(../images/icon/btn_link02.png) no-repeat 100% 50%;
	color:#7451c0;
}
.btn-icon-link3 {
	display:inline-block;
	position:relative;
	padding:0 36px 0 19px;
	height:40px;
	box-sizing:border-box;
	border-radius:3px;
	border:1px solid #ccc;
	background-color:#fff;
	color:#7b7b7b;
	line-height:38px;
}
.btn-icon-link3:before {
	content:'';
	position:absolute;
	right:11px;
	top:0;
	bottom:0;
	width:5px;
	background:url(../images/icon/icon_arr_right01.png) no-repeat 0 50%;
	opacity:.6;
}
.btn-icon-link3:hover {
	background-color:#f7f7f7;
	color:#4c4c4c
}/* hover */

/* 버튼정렬 */

.btn-top-area {
	margin-bottom:45px;
	text-align:right;
	font-size:0;
}
.btn-top-area .btn-icon-link3 {
	margin-left:10px;
	font-size:15px;
}
.btn-top-area .btn-icon-link3:first-child {margin-left:0;}

.btn-btm-area {
	margin-top:50px;
	text-align:center;
}

/* 하단 버튼 고정 스타일 */
.fix-btm-area {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:50;
	height:110px;
	padding-top:30px;
	box-sizing:border-box;
	box-shadow:0 0 22px 2px rgba(0,0,0,.1);
	background-color:#fff;
	text-align:center;
}
.fix-btm-area .btn-text {margin-left:13px;}
.fix-btm-area .btn-text:first-child {margin-left:0;}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	폼 요소
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 셀렉트박스 */
.selectbox {
	display:inline-block;
	position:relative;
}
.selectbox .sel-text {
	display:inline-block;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	padding:0 40px 0 14px;
	box-sizing:border-box;
	border:1px solid #ccc;
	background:#fff url(../images/icon/icon_select01.png) no-repeat 100% 50%;
	line-height:38px;
}
.selectbox select {
	position:relative;
	z-index:5;
	opacity:0;
}

/* 데이트 피커 */
input.datepicker {
	width:140px;
	background:#fff url(../images/icon/icon_date.png) no-repeat 100% 50%;
}

.ui-datepicker {
	display:none;
	width:300px;
	padding:3px 3px 20px;
	background-color:#fff;
	border:1px solid #ccc;
}
.ui-datepicker-header {
	position:relative;
	padding:6px 0;
	border:1px solid #ddd;
	background-color:#e9e9e9;
}
.ui-datepicker-header .ui-corner-all {
	position:absolute;
	top:50%;
	width:30px;
	height:30px;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
.ui-datepicker-header .ui-datepicker-prev {left:10px;}
.ui-datepicker-header .ui-datepicker-next {right:10px;}
.ui-datepicker-header .ui-corner-all .ui-icon {
	overflow:hidden;
	position:absolute;
	left:50%;
	top:50%;
	width:13px;
	height:13px;
	margin-top:-6px;
	background-image:url(../images/icon/icon_date_arr.png);
	background-repeat:no-repeat;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.ui-datepicker-header .ui-datepicker-prev .ui-icon {background-position:0 -13px;}
.ui-datepicker-header .ui-datepicker-next .ui-icon {background-position:0 0;}
.ui-datepicker-header .ui-datepicker-title {text-align:center;}
.ui-datepicker-header .ui-datepicker-title select {
	width:80px;
	height:30px;
	padding:0 10px;
	border:1px solid #aaa;
	background-color:#fff;
	font-size:12px;
	font-weight:400;
}
.ui-datepicker-header .ui-datepicker-title select.ui-datepicker-month {width:60px;}
.ui-datepicker-calendar {margin-top:10px;}
.ui-datepicker-calendar thead th {
	color:#111;
	height:40px;
}
.ui-datepicker-calendar thead th:first-child {color:#d93e5f;}
.ui-datepicker-calendar tbody td {text-align:center;}
.ui-datepicker-calendar tbody td .ui-state-default {
	display:block;
	width:30px;
	height:30px;
	margin:0 auto;
	padding:6px 0;
	box-sizing:border-box;
	border-radius:50%;
	font-size:12px;
}
.ui-datepicker-calendar tbody td:first-child a {color:#d93e5f;}
.ui-datepicker-calendar tbody td.ui-datepicker-today a {background-color:#fffa90;}
.ui-datepicker-calendar tbody td.ui-datepicker-current-day a {
	color:#fff;
	background-color:#5d30a6;
}
.ui-datepicker-calendar tbody td.ui-state-disabled span {color:#dadada;}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	탭/소팅/검색
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 탭 */
.tab-list1 {
	border-top:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}
.tab-list1:after {
	content:'';
	display:block;
	clear:both;
}
.tab-list1 .tab-item {
	float:left;
	position:relative;
	width:50%;
	height:50px;
	box-sizing:border-box;
	border-left:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	color:#4c4c4c;
	font-size:16px;
	text-align:center;
	line-height:48px;
	cursor:pointer;
}
.tab-list1 .tab-item.on {
	border-bottom-color:#fff;
	color:#111;
	font-weight:900;
	transition:border .3s, color .5s;
}/* on */
.tab-list1 .tab-item:after {
	content:'';
	position:absolute;
	left:0;
	width:0;
	top:-1px;
	height:2px;
	background-color:#262626;
	opacity:0;
}
.tab-list1 .tab-item.on:after {
	opacity:1;
	width:100%;
	transition:all .2s;
}/* on */

.tab-cont {display:none;}
.tab-cont.on {display:block;}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	게시판 테이블
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 입력 오류 */
input.false-form {
	border-color:#e43762;
	background-color:#fdefef;
}
.false-text {
	padding:10px 0 7px;
	color:#e43762;
	font-size:14px;
}

table .btn-text {
	min-width:auto;
	height:32px;
	margin-left:9px;
	padding:0 15px;
	border:1px solid #444;
	background-color:#fff;
	color:#444;
	font-size:14px;
	line-height:30px;
}

table .a-left {
	padding-left:30px !important;
	padding-right:30px !important;
	text-align:left !important;
}

table .a-right {
	padding-left:25px !important;
	padding-right:25px !important;
	text-align:right !important;
}

/* 리스트 형식 */
.board-list1 {border-top:1px solid #262626;}
.board-list1 table {}
.board-list1 table th,
.board-list1 table td {
	height:32px;
	padding:9px 15px;
	border-left:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	font-weight:400;
	text-align:center;
}
.board-list1 table th:first-child,
.board-list1 table td:first-child {border-left:0;}
.board-list1 table th {
	padding-left:50px;
	background-color:#f7f7f7;
	color:#4c4c4c;
	text-align:left;
}
.board-list1 table td {
	padding-left:30px;
	color:#111;
	text-align:left;
}
.board-list1 table thead th,
.board-list1 table thead + tbody td {
	padding-left:15px;
	text-align:center;
}
.board-list1 table td.link-type {padding:0;}
.board-list1 table td.link-type .link-text {
	display:block;
	padding:14px 30px;
	text-align:left;
}
.board-list1 table td.link-type .link-text:hover {text-decoration:underline;}/* hover */

/* 입력형식 */
.board-write1 .unit-text {margin-left:15px;}
.board-write1 + .board-write1 {margin-top:40px;}
.board-write1 .title-area {padding:9px 0;}
.board-write1 .board-title {
	color:#111;
	font-size:20px;
	font-weight:900;
}
.board-write1 .board {
	border-top:1px solid #262626;
}
.board-write1 .board th,
.board-write1 .board td {
	height:40px;
	padding:14px 30px;
	border-bottom:1px solid #e0e0e0;
	vertical-align:top;
}
.board-write1 .board th {
	color:#4c4c4c;
	font-weight:400;
	text-align:left;
}
.board-write1 .board th label {
	display:block;
	padding:9px 0;
}
.board-write1 .board td {color:#4c4c4c;}

/* 데이타 형식 */
.board-data1 {margin-top:36px;}
.board-data1 .board {border-top:1px solid #111;}
.board-data1 .board th,
.board-data1 .board td {
	padding:24px 0 20px;
	border-bottom:1px solid #f2f2f2;
	color:#777;
	font-size:14px;
	font-weight:400;
}
.board-data1 .board td {padding-left:40px;}
.board-data1 .board .label {
	display:inline-block;
	height:28px;
	margin-bottom:5px;
	padding:0 15px;
	border-radius:3px;
	background-color:#1b1b1b;
	color:#fff;
	line-height:28px;
}
.board-data1 .board .price {
	margin-top:4px;
	color:#111;
	font-size:18px;
	font-weight:600;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	리스트
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 불릿 */
.bullet-list1 {}
.bullet-list1 .item {
	margin:10px 0 0 16px;
	color:#111;
	text-indent:-16px;
}
.bullet-list1 .item:first-child {margin-top:0;}
.bullet-list1 .item strong {font-weight:600;}

.bullet-list2 li {
	position:relative;
	padding-left:13px;
	color:#4c4c4c;
	font-size:15px;
	font-weight:400;
	line-height:33px;
}
.bullet-list2 li:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:15px;
	width:3px;
	height:3px;
	background-color:#111;
	border-radius:50%;
}

/* 아코디언 */
.accordion-list1 {border-top:1px solid #262626;}
.accordion-list1 .accordion-item {}
.accordion-list1 .accordion-item .btn-tog {
	display:block;
	position:relative;
	width:100%;
	padding:15px 86px 15px 50px;
	box-sizing:border-box;
	border-bottom:1px solid #e0e0e0;
	color:#111;
	font-size:16px;
	text-align:left;
	cursor:pointer;
}
.accordion-list1 .accordion-item .btn-tog:before {
	content:'';
	overflow:hidden;
	position:absolute;
	right:50px;
	top:50%;
	width:26px;
	height:26px;
	margin-top:-13px;
	background-image:url(../images/icon/icon_accor01.png);
	background-repeat:no-repeat;
	background-position:0 0;
}
.accordion-list1 .accordion-item.on .btn-tog {
	border-bottom:0;
	color:#7451c0;
	font-weight:600;
}/* on */
.accordion-list1 .accordion-item a.btn-tog:hover {text-decoration:underline;}/* hover */
.accordion-list1 .accordion-item a.btn-tog:before {background-image:url(../images/icon/btn_link03.png);}

.accordion-list1 .accordion-item.on .btn-tog:before {background-position:0 -26px;}/* on */
.accordion-list1 .accordion-item .layer {
	display:none;
	padding:36px 50px;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #b3b3b3;
}
.accordion-list1 .accordion-item .layer.bg-gray {
	border-top:0;
	background-color:#fafafa;
}

/* ============================================================================================
	기타
============================================================================================ */


/* ============================================================================================
	레이아웃
============================================================================================ */
html,
body,
.wrapper {
	overflow-x:auto;
	min-width:1260px;
}

.container {
	padding:255px 0 110px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	해더
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	min-width:1260px;
	height:110px;
	background-color:#2c203b;
	z-index:50;
}
.header .head-inner {
	position:relative;
	width:100%;
	height:110px;
	max-width:1280px;
	margin:0 auto;
}
.header .head-inner .h-logo {
	width:160px;
	position:absolute;
	left:0;
	bottom:0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .head-inner .h-logo a {
	display:block;
	height:66px;
	background:url(../images/common/h_logo.png) no-repeat 0 50%;
}
.header .head-inner .utill {
	height:44px;
	padding-top:12px;
	box-sizing:border-box;
	font-size:0;
	text-align:right;
	line-height:0;
}
.header .head-inner .utill .link {
	display:inline-block;
	position:relative;
	padding:0 16px 0 13px;
	color:rgba(255,255,255,.4);
	font-size:13px;
	line-height:20px;
}
.header .head-inner .utill .link:first-child {color:#b29bc7;}
.header .head-inner .utill .link:before {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background-color:rgba(255,255,255,.1);
}
.header .head-inner .utill .link:first-child:before {display:none;}
.header .head-inner .utill .btn-mobile {
	display:inline-block;
	height:20px;
	margin-left:15px;
	padding:0 5px;
	box-sizing:border-box;
	border:1px solid #c6a9c8;
	color:#c09bde;
	font-size:13px;
	line-height:18px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	전체메뉴
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.gnb-close {
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:5;
}
.gnb-area {
	position:absolute;
	right:120px;
	bottom:0;
	z-index:10;
}
.gnb-area .gnb-list {}
.gnb-area .gnb-list:after {
	content:'';
	display:block;
	clear:both;
}
.gnb-area .gnb-list .gnb-item {float:left;}
.gnb-area .gnb-list .gnb-item .item {
	display:block;
	position:relative;
	padding:0 32px;
	height:66px;
	color:#fff;
	font-size:18px;
	font-weight:600;
	line-height:66px;
	cursor:pointer;
	transition:all .3s;
}
.gnb-area .gnb-list .gnb-item .item:before {
	content:'';
	position:absolute;
	left:22px;
	right:22px;
	bottom:0;
	height:0;
	background-color:#ef8ffa;
	opacity:0;
	transition:all .3s;
}
.gnb-area .gnb-list .gnb-item.on .item,
.gnb-area .gnb-list .gnb-item.active .item {color:#ef8ffa;}/* on */
.gnb-area .gnb-list .gnb-item.on .item:before,
.gnb-area .gnb-list .gnb-item.active .item:before {
	height:5px;
	opacity:1;
}/* on */

.gnb-area .gnb-list .gnb-item .gnb-depth {
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:110px;
	z-index:5;
	padding:40px 0;
	background-color:#fff;
	box-shadow:0 7px 21px 0 rgba(0,0,0,.1);
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth-inner {
	overflow:hidden;
	position:relative;
	width:100%;
	max-width:1280px;
	margin:0 auto;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth {
	float:left;
	width:16.66666666666667%;
	padding:0 20px 2px;
	box-sizing:border-box;
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth:first-child {border-right:1px solid #e5e5e5;}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth-inner:before,
.gnb-area .gnb-list .gnb-item .gnb-depth .depth-inner:after,
.gnb-area .gnb-list .gnb-item .gnb-depth .depth:first-child:before,
.gnb-area .gnb-list .gnb-item .gnb-depth .depth:first-child:after,
.gnb-area .gnb-list .gnb-item .gnb-depth .depth:nth-child(2):before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	width:1px;
	background-color:#e5e5e5;
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth-inner:before {left:33.33333333333333%;}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth-inner:after {left:50%;}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth:first-child:before {left:66.66666666666667%;}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth:first-child:after {left:83.33333333333333%;}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth:nth-child(2):before {left:16.66666666666667%;margin-left:-1px;}

.gnb-area .gnb-list .gnb-item .gnb-depth .depth .title {
	display:block;
	padding:6px 0;
	color:#111;
	font-weight:600;
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth a.title:after {
	content:'';
	display:inline-block;
	width:20px;
	height:22px;
	margin-left:4px;
	background:url(../images/icon/icon_arr_right03.png) no-repeat 50% 50%;
	vertical-align:top;
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth .list {margin-top:5px;}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth .link {
	display:block;
	padding:4px 0;
	color:#777;
}

/* 스크롤시 고정되는 영역 */
.head-fix-box {
	position:absolute;
	left:0;
	right:0;
	top:110px;
	background-color:#fff;
	background-position:500% 50%;
	height:40px;
}
.header .breadcrumbs {
	width:100%;
	max-width:1300px;
	margin:0 auto;
}
.header .breadcrumbs:after {
	content:'';
	display:block;
	clear:both;
}
.header .breadcrumbs .crumb-item {
	float:left;
	position:relative;
}
.header .breadcrumbs .crumb-item .crumb {
	display:block;
	height:40px;
	padding:0 20px 0 14px;
	background:url(../images/icon/icon_arr_right01.png) no-repeat 99% 50%;
	line-height:40px;
	cursor:pointer;
}
.header .breadcrumbs .crumb-item.on .crumb {
	color:#7451c0;
	background:url(../images/icon/icon_arr_bottom03.png) no-repeat 99% 50%;
}/* on */

.header .breadcrumbs .crumb-item.no-link .crumb {
	background:none !important;
	cursor:text;
}
.header .breadcrumbs .crumb-item:first-child .crumb {padding-left:0;}
.header .breadcrumbs .crumb-item .menu-list {
	display:none;
	position:absolute;
	left:0;
	top:40px;
	padding:15px 0;
	box-sizing:border-box;
	border:1px solid #c2c2c2;
	background-color:#fff;
}
.header .breadcrumbs .crumb-item .menu-list .menu-item {
	position:relative;
	margin:0 -1px;
	white-space:nowrap;
}
/* 메뉴 리스트 넓이 제한 */
.header .breadcrumbs .crumb-item .menu-list.max-w {width:260px;}
.header .breadcrumbs .crumb-item .menu-list.max-w .menu-item {white-space:normal;}

.header .breadcrumbs .crumb-item .menu-list .menu-item .title {
	display:block;
	padding:11px 20px;
	color:#777;
	font-size:14px;
	cursor:pointer;
}
.header .breadcrumbs .crumb-item .menu-list .menu-item span.title {padding-right:65px;}
.header .breadcrumbs .crumb-item .menu-list .menu-item span.title:after {
	content:'';
	display:inline-block;
	width:20px;
	height:22px;
	margin-left:4px;
	background:url(../images/icon/icon_arr_right02.png) no-repeat 50% 50%;
	vertical-align:top;
}
.header .breadcrumbs .crumb-item .menu-list .menu-item .list {
	display:none;
	position:absolute;
	left:100%;
	top:0;
	min-width:140px;
	margin-left:-1px;
	padding:15px 0;
	border:1px solid #c2c2c2;
	background-color:#fff;
}
.header .breadcrumbs .crumb-item .menu-list .menu-item:hover .title {
	background-color:#7451c0;
	color:#fff;
}/* hover */
.header .breadcrumbs .crumb-item .menu-list .menu-item:hover .list {display:block;}/* hover */
.header .breadcrumbs .crumb-item .menu-list .menu-item .list .link {
	display:block;
	padding:5px 20px;
	font-size:14px;
}
.header .breadcrumbs .crumb-item .menu-list .menu-item .list .link:hover {
	color:#7451c0;
	font-weight:600;
}/* hover */

.header .page-title-area {
	background-color:rgba(255,255,255,.98);
	text-align:center;
}
.header .page-title-area .inner-box {
	display:inline-block;
	position:relative;
}
.header .page-title-area .page-title {
	height:85px;
	padding-right:38px;
	background:url(../images/icon/icon_arr_bottom01.png) no-repeat 100% 50%;
	color:#111;
	font-size:30px;
	font-weight:600;
	line-height:85px;
	cursor:pointer;
}
.header .page-title-area.no-link .page-title {
	padding-right:0 !important;
	background:none !important;
	cursor:text;
}
.header .page-title-area .layer {
	display:none;
	position:absolute;
	left:0;
	top:75px;
	min-width:100%;
	padding:24px 0;
	border:1px solid #c2c2c2;
	background-color:#fff;
	white-space:nowrap;
}
.header .page-title-area .layer.max-w {
	width:400px;
	white-space:normal;
}
.header .page-title-area .layer .link {
	display:block;
	margin:0 -1px;
	padding:10px 25px;
	color:#777;
	font-size:17px;
	text-align:left;
}
.header .page-title-area .layer .link:hover {
	color:#fff;
	background-color:#7451c0;
}/* hover */

.header .btn-allmenu {
	position:absolute;
	right:-16px;
	top:47px;
	z-index:5;
	width:60px;
	height:60px;
}
.header .btn-allmenu .icon {
	position:absolute;
	left:50%;
	top:50%;
	width:27px;
	height:20px;
	margin:-10px 0 0 -13px;
	box-sizing:border-box;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-allmenu .icon:before,
.header .btn-allmenu .icon::before {
	content:'';
	position:absolute;
	top:50%;
	right:0;
	width:21px;
	height:2px;
	margin-top:-1px;
	background-color:#fff;
}
.header .btn-allmenu.close {
	background-image:url(../images/icon/btn_close01.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.header .btn-allmenu.close .icon {display:none;}

/* 전체메뉴 */
.menu-dimmed {
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:110px;
	bottom:0;
	z-index:50;
	background-color:rgba(0,0,0,.85);
}
.all-menu-layer {
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:110px;
	z-index:55;
	padding:40px 0;
	background-color:#fff;
}
.scroll .all-menu-layer {top:40px;}/* scroll */
.all-menu-layer .inner-box {
	overflow:hidden;
	position:relative;
	width:100%;
	max-width:1280px;
	margin:0 auto;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
.all-menu-layer .menu-box {
	float:left;
	width:16.66666666666667%;
}
.all-menu-layer .inner-box:before,
.all-menu-layer .inner-box:after,
.all-menu-layer .menu-box:first-child:before,
.all-menu-layer .menu-box:first-child:after,
.all-menu-layer .menu-box:last-child:before {
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	width:1px;
	background-color:#e5e5e5;
}
.all-menu-layer .inner-box:before {left:16.66666666666667%;}
.all-menu-layer .inner-box:after {left:33.33333333333333%;}
.all-menu-layer .menu-box:first-child:before {left:50%;}
.all-menu-layer .menu-box:first-child:after {left:66.66666666666667%;}
.all-menu-layer .menu-box:last-child:before {left:83.33333333333333%;}

.all-menu-layer .menu-box .b-title {
	padding:2px 20px;
	color:#111;
	font-size:20px;
	font-weight:900;
}
.all-menu-layer .menu-box .list-area {}
.all-menu-layer .menu-box .list-area .title {
	display:block;
	position:relative;
	padding:10px 20px;
	color:#111;
	font-size:16px;
	font-weight:600;
}
.all-menu-layer .menu-box .list-area a.title:after {
	content:'';
	display:inline-block;
	width:20px;
	height:25px;
	margin-left:4px;
	background:url(../images/icon/icon_arr_right03.png) no-repeat 50% 50%;
	vertical-align:top;
}
.all-menu-layer .menu-box .list-area .list {padding-bottom:8px;}
.all-menu-layer .menu-box .list-area .link {
	display:block;
	padding:3px 20px;
	color:#777;
	line-height:1.2;
}

.sub-text-area {
	margin-top:-26px;
	color:#111;
	font-size:18px;
	text-align:center;
}

/*
	스크롤시 해더 변환
*/
.header {transition:top .2s, background-color .5s;}
.container,
.header .btn-allmenu,
.gnb-area .gnb-list .gnb-item .gnb-depth {transition:top .2s;}
.header .head-fix-box,
.header .page-title-area,
.header .page-title-area .page-title {transition:all .5s;}

.scroll .container {padding-top:220px;}
.scroll .header {top:-110px;}
.scroll .header .head-fix-box {background:#653c9e url(../images/bg/bg_header01.png) no-repeat 100% 50%;}
.scroll .header .page-title-area {box-shadow:2px 3px 8px rgba(0,0,0,.1);}
.scroll .header .page-title-area .page-title {
	height:85px;
	font-size:26px;
	line-height:85px;
}
.scroll .header .page-title-area .page-title {
	padding-right:28px;
	background:url(../images/icon/icon_arr_bottom02.png) no-repeat 100% 50%;
}
.scroll .header .breadcrumbs .crumb-item .crumb {
	background:url(../images/icon/icon_arr_right02.png) no-repeat 100% 50%;
	color:#fff !important;
}
.scroll .header .btn-allmenu {top:99px;}
.scroll .gnb-area .gnb-list .gnb-item .gnb-depth {top:40px;}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	메뉴별 색상 변환
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*
	금융
*/
.bgColor2 .header,
.bgColor2 .header .breadcrumbs .crumb-item .menu-list .menu-item:hover .title,
.bgColor2 .header .page-title-area .layer .link:hover {background-color:#27393d;}
.bgColor2 .gnb-area .gnb-list .gnb-item .item:before {background-color:#94e6a8;}
.bgColor2 .header .head-inner .utill .link:first-child {color:#7dc3c3;}
.bgColor2 .gnb-area .gnb-list .gnb-item.on .item,
.bgColor2 .gnb-area .gnb-list .gnb-item.active .item{color:#fff;}
.bgColor2 .header .breadcrumbs .crumb-item.on .crumb,
.bgColor2 .header .breadcrumbs .crumb-item .menu-list .menu-item .list .link:hover {color:#27393d;}
.bgColor2 .header .btn-allmenu.close {background-image:url(../images/icon/btn_close02.png);}
.bgColor2.scroll .header .head-fix-box {background:#18a5b6 url(../images/bg/bg_header02.png) no-repeat 100% 50%;}
/* 버튼 */
.bgColor2 .btn-text {background-color:#216871;}
.bgColor2 .btn-text:hover {background-color:#27474b;}
.bgColor2 .btn-text.type1 {
	border-color:#216871;
	background-color:#fff;
	color:#216871;
}
.bgColor2 .btn-text.type1:hover {
	border-color:#274755;
	background-color:#f7f7f7;
	color:#274755;
}
.bgColor2 .btn-text.disabled {
	background-color:#e6e6e6;
	color:#b3b3b3;
	cursor:not-allowed;
}
/* 달력 */
.ui-datepicker-calendar tbody td.ui-datepicker-current-day a {background-color:#27393d;}

/* 이벤트 */
.bgColor3 .header,
.bgColor3 .header .breadcrumbs .crumb-item .menu-list .menu-item:hover .title,
.bgColor3 .header .page-title-area .layer .link:hover {background-color:#2c324d;}
.bgColor3 .gnb-area .gnb-list .gnb-item .item:before {background-color:#b4a6f5;}
.bgColor3 .header .head-inner .utill .link:first-child {color:#8fa4d1;}
.bgColor3 .gnb-area .gnb-list .gnb-item.on .item,
.bgColor3 .gnb-area .gnb-list .gnb-item.active .item{color:#fff;}
.bgColor3 .header .breadcrumbs .crumb-item.on .crumb,
.bgColor3 .header .breadcrumbs .crumb-item .menu-list .menu-item .list .link:hover {color:#27393d;}
.bgColor3 .header .btn-allmenu.close {background-image:url(../images/icon/btn_close03.png);}
.bgColor3.scroll .header .head-fix-box {background:#4b589c url(../images/bg/bg_header03.png) no-repeat 100% 50%;}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	컨텐츠
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.content {
	width:1000px;
	margin:auto;
}

/* ============================================================================================
	MY (마이페이지)
============================================================================================ */
/* 이벤트 참여내역 (MA-03.04.01.html) */
.box-list2 .box-item {
	display:block;
	padding:13px 50px 19px;
	border-bottom:1px solid #e0e0e0;
}
.box-list2 .box-item .b-title {
	color:#111;
	font-size:16px;
	font-weight:400;
	line-height:32px;
}
.box-list2 .box-item .info-list .item {
	color:#777;
	font-size:15px;
	font-weight:400;
	line-height:23px;
}
.box-list2 .box-item .info-list .item.fcolor {color:#e21c24;}

/* 이벤트상세 (MA-03.04.02.html) */
.board-view {border-top:1px solid #262626;}
.board-view .title-area {
	position:relative;
	padding:24px 0 20px;
	border-bottom:1px solid #e0e0e0;
}
.board-view .title-area .title {
	margin-bottom:10px;
	color:#111;
	font-size:23px;
	font-weight:600;
}
.board-view .title-area .text-area {
	overflow:hidden;
	color:#777;
}
.board-view .title-area .text-area.f-color {color:#e21c24;}
.board-view .title-area .text-area dt {
	clear:both;
	float:left;
}
.board-view .title-area .text-area dd {
	float:left;
	margin-left:4px;
}
.board-view .title-area .btn-icon-link2 {margin-top:7px;}
.board-view .b-cont {padding-top:65px;}

.board-view.type2 .title-area {
	padding-right:100px;
	padding-bottom:25px;
}
.board-view.type2 .share-area {
	position:absolute;
	right:0;
	top:30px;
	font-size:0;
}
.board-view.type2 .share-area .share {margin-left:4px;}
.board-view.type2 .share-area .share:first-child {margin-left:0;}
.board-view.type2 .text-area {line-height:25px;}
.board-view.type2 .text-area .label {
	display:inline-block;
	margin-right:14px;
	padding:0 17px;
	height:25px;
	border-radius:10px;
	background-color:#5d30a6;
	color:#fff;
	font-size:17px;
	font-weight:600;
	line-height:24px;
}
.board-view.type2 .b-cont {padding-top:0;}


/* ============================================================================================
	Loan (대출)
============================================================================================ */
/* 메인 (MA-05.01.01.html) */
.box-list-wrap1 {margin-top:35px;}
.box-list-wrap1 .btn-top-area {margin-bottom:30px;}
.box-list-wrap1 .btn-top-area.right {text-align:right;}
.box-list-wrap1 .number-box {
	padding:18px 50px;
	border-top:1px solid #111;
	border-bottom:1px solid #111;
	color:#111;
	font-size:16px;
}
.box-list-wrap1 .box-list {}
.box-list-wrap1 .box-list .box-item {
	position:relative;
	padding:20px 320px 20px 50px;
	border-bottom:1px solid #f2f2f2;
}
.box-list-wrap1 .box-list .box-item .title {
	color:#111;
	font-size:18px;
	font-weight:600;
}
.box-list-wrap1 .box-list .box-item .text {
	margin-top:4px;
	color:#777;
	font-size:14px;
}
.box-list-wrap1 .box-list .box-item .btn-area {
	position:absolute;
	right:50px;
	top:50%;
	margin-top:-20px;
}
.box-list-wrap1 .box-list .box-item .btn-area .btn-icon-link1 {margin-left:32px;}
.box-list-wrap1 .box-list .box-item .btn-area .btn-icon-link1:first-child {margin-left:0;}

.no-result {
	margin-top:35px;
	padding:150px 0 75px;
	border-top:1px solid #262626;
	border-bottom:1px solid #e0e0e0;
	background:url(../images/icon/icon_noresult.png) no-repeat 50% 80px;
	color:#4c4c4c;
	font-size:16px;
	text-align:center;
}

/* 신용대출 (MA-05.01.02.html) */
.price-box-area {
	overflow:hidden;
	position:relative;
	margin-top:18px;
	background-color:#f7f7f7;
}
.price-box-area:before {
	content:'';
	position:absolute;
	left:50%;
	top:45px;
	bottom:52px;
	width:2px;
	margin-left:-1px;
	background-color:#b2b2b2;
}
.price-box-area .box {
	float:left;
	width:50%;
	padding:43px 0 40px;
	box-sizing:border-box;
	text-align:center;
}
.price-box-area .box .title {
	color:#216871;
	font-size:20px;
	font-weight:900;
}
.price-box-area .box .number-area {
	color:#111;
	font-size:20px;
	line-height:1.3;
}
.price-box-area .box .number-area .number {
	display:inline-block;
	margin-right:15px;
	font-size:45px;
	font-weight:900;
}
.price-box-area .box:first-child .number-area .number {margin:0 0 0 10px;}
.price-box-area .box .number-area .number em {font-weight:600;}

.customer-call-box {
	position:relative;
	padding-left:220px;
}
.customer-call-box .phone-number {
	position:absolute;
	left:0;
	top:50%;
	margin-top:-30px;
	background:url(../images/icon/icon_call.png) no-repeat 0 50%;
	padding:2px 0 0 55px;
	color:#111;
	font-weight:600;
}
.customer-call-box .phone-number .number {
	font-size:25px;
	font-weight:900;
	line-height:1.4;
}
.customer-call-box .list {
	overflow:hidden;
	padding:50px 0;
}
.customer-call-box .list li {
	float:left;
	position:relative;
	padding-left:58px;
	background-image:url(../images/icon/icon_time.png);
	background-repeat:no-repeat;
	background-position:31px 50%;
	color:#434343;
}
.customer-call-box .list li:before {
	content:'';
	position:absolute;
	left:15px;
	top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background-color:#b2b2b2;
}
.customer-call-box .list li:first-child {
	padding-left:27px;
	background-position:0 50%;
}
.customer-call-box .list li:first-child:before {display:none;}
.customer-call-box .list li .f-color {
	display:inline-block;
	margin-left:9px;
	color:#111;
}

.notice-area {padding:20px 50px 0;}

/* 대출접수완료 (MA-05.03.02.html) */
.complated-img-cont {
	padding-bottom:207px;
	background:url(../images/bg/bg_complate02.jpg) no-repeat 50% bottom;
	text-align:center;
}
.complated-img-cont .title {
	padding-top:85px;
	color:#111;
	font-size:28px;
	font-weight:600;
	line-height:34px;
	background:url(../images/bg/bg_complate01.png) no-repeat 50% 0;
}
.complated-img-cont .text {
	margin-top:5px;
	color:#737373;
	font-size:16px;
	font-weight:400;
	line-height:24px;
}

/* 예상상환스케줄 (MA-05.06.01.html) */
.searth-box {
	padding-top:15px;
	border-radius:10px;
	background-color:#f7f7f7;
}
.searth-box .board {padding-left:40px;}
.searth-box .board th,
.searth-box .board td {
	height:40px;
	padding:15px 0;
	text-align:left;
}
.searth-box .board th {padding-left:10px;}
.searth-box .board th label {line-height:40px;}
.searth-box .board td {padding-right:50px;}
.searth-box .board td input[type=text],
.searth-box .board td input[type=number],
.searth-box .board td input[type=tel],
.searth-box .board td input[type=password],
.searth-box .board td .selectbox,
.searth-box .board td select {width:100%;}
.searth-box .board .unit-area {
	position:relative;
	padding-right:40px;
}
.searth-box .board .unit-area .unit-text {
	color:#4c4c4c;
	position:absolute;
	right:0;
	top:50%;
	min-width:28px;
	margin-top:-11px;
}
.searth-box .board .info-text {
	padding:5px 0 5px 10px;
	color:#111;
	font-size:18px;
	font-weight:900;
}
.searth-box .btn-area {
	margin:0 50px;
	padding:15px 0 30px;
	border-top:1px solid #e0e0e0;
	text-align:center;
}
.searth-box .btn-text {margin-left:8px;}
.searth-box .btn-text:first-chid {margin-left:0;}

.searth-box .result-area {
	margin:0 50px;
	padding:38px 0 47px;
	border-top:1px solid #e0e0e0;
	text-align:center;
}
.searth-box .result-area .price {
	color:#111;
	font-size:40px;
	font-weight:900;
}
.searth-box .result-area .text {
	margin-top:8px;
	color:#737373;
	font-size:16px;
}

.searth-box .result-area .interest {
	padding-top:10px;
	color:#111;
	font-weight:600;
}
.searth-box .result-area .interest .price {font-weight:400;}
.searth-box .result-area .interest .price strong {font-weight:900;}
.searth-box .result-area .btn-text {margin:27px 0 -17px;}

/* ============================================================================================
	이벤트
============================================================================================ */
/* 진행이벤트 (Web-07.01.01.html) */
.event-banner-slider {
	position:relative;
	height:290px;
	margin-top:65px;
	padding:10px 60px 10px 0;
	background:url(../images/bg/bg_event_slider.jpg) no-repeat 0 0;
}
.event-banner-slider .bx-controls {margin:-63px 0 0 505px;}
.event-banner-slider.btns-type1 .bx-controls-direction .bx-next {right:176px;}

.thumb-list-wrap {margin-top:65px;}
.thumb-list-wrap .sorting-list {
	max-width:1000px;
	margin-bottom:23px;
	font-size:0;
	text-align:right;
}
.thumb-list-wrap .sorting-list .btn {
	position:relative;
	margin-left:23px;
	padding-left:10px;
	color:#777;
	font-size:15px;
	font-weight:600;
	text-align:left;
	line-height:40px;
}
.thumb-list-wrap .sorting-list .btn:first-child {margin-left:0;}
.thumb-list-wrap .sorting-list .btn:before {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	width:4px;
	height:4px;
	margin-top:-2px;
	border-radius:50%;
	background-color:#777;
}
.thumb-list-wrap .sorting-list .btn.on {color:#7451c0;}/* on */
.thumb-list-wrap .sorting-list .btn.on:before {background-color:#7451c0;}/* on */

.thumb-list1 {
	margin:-60px 0 0 -35px;
	width:1050px;
}
.thumb-list1:after {
	content:'';
	display:block;
	clear:both;
}
.thumb-list1 .thumb-item {
	float:left;
	position:relative;
	width:310px;
	margin:60px 0 0 35px;
}
.thumb-list1 .thumb-item:before {
	content: '';
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	height: 19px;
	box-shadow: 0px 5px 49px 15px rgba(0,0,0,.1);
	opacity:0;
	transition:all .5s;
}
.thumb-list1 .thumb-item:after {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	z-index:10;
	width:0;
	height:3px;
	background-color:#e43762;
	opacity:0;
	transition:all .3s;
}
.thumb-list1 .thumb-item:hover:before {opacity:1;}/* hover */
.thumb-list1 .thumb-item:hover:after {
	width:100%;
	opacity:1;
}/* hover */
.thumb-list1 .thumb-item .inner-box {
	display:block;
	position:relative;
	z-index:5;
	background-color:#fff;
}
.thumb-list1 .thumb-item .img-area {
	overflow:hidden;
	height:205px;
	font-size:0;
	line-height:0;
}
.thumb-list1 .thumb-item .img-area img {
	width:100%;
	transition:all 1s;
}
.thumb-list1 .thumb-item:hover .img-area img {
	transform: scale(1.1);
	transition:all 2s;
}/* hover */
.thumb-list1 .thumb-item .text-area {
	height:145px;
	padding-top:28px;
	box-sizing:border-box;
	text-align:center;
}
.thumb-list1 .thumb-item .text-area .title {
	overflow:hidden;
	height:54px;
	color:#111;
	font-size:18px;
	font-weight:600;
}
.thumb-list1 .thumb-item .text-area .text {
	margin-top:10px;
	color:#777;
}

/* 이벤트 상세 (Web-07.01.02.html) */
.view-edit-cont {}
.view-edit-cont .img-area {
	margin-top:60px;
	text-align:center;
	font-size:0;
}
.view-edit-cont .img-area:first-child {margin-top:0;}

.view-edit-cont .view-list {
	color:#777;
}
.view-edit-cont .view-list .title {
	margin-top:12px;
	font-weight:600;
}
.view-edit-cont .view-list .text {
	
}
.view-edit-cont .view-list .f-color {color:#999;}
.view-edit-cont .view-list .logo-list {
	overflow:hidden;
}
.view-edit-cont .view-list .logo-list .logo {
	overflow:hidden;
	float:left;
	font-size:0;
	width:115px;
	height:82px;
}
.view-edit-cont .view-list .logo-list .logo img {width:100%;}

.view-edit-cont .qr-box-area {
	position:relative;
	padding:58px 35px;
	border:1px solid #e0e0e0;
	color:#111;
	font-weight:600;
}
.view-edit-cont .qr-box-area .qr-code {
	position:absolute;
	left:636px;
	top:50%;
	height:90px;
	margin-top:-45px;
	padding:12px 0 0 160px;
	box-sizing:border-box;
	border-left:1px solid #e0e0e0;
}
.view-edit-cont .qr-box-area .qr-code .qr-img {
	position:absolute;
	left:50px;
	top:0;
	font-size:0;
	line-height:0;
}

.view-edit-cont .notice-box {
	margin-top:150px;
	padding-top:34px;
	border:1px solid #e0e0e0;
}
.view-edit-cont .notice-box .title {
	padding:0 30px;
	color:#111;
	font-size:18px;
	font-weight:900;
}
.view-edit-cont .notice-box .list {
	margin-top:22px;
	padding:0 30px 25px;
	color:#777;
}
.view-edit-cont .notice-box .list li {
	margin-left:11px;
	text-indent:-11px;
}
.view-edit-cont .notice-box .gray-box {
	padding:30px;
	border-top:1px solid #e0e0e0;
	background-color:#f7f7f7;
	color:#777;
}
.view-edit-cont .notice-box .gray-box .list2 {}
.view-edit-cont .notice-box .gray-box .list2 li {
	margin:5px 0 0 22px;
	font-size:22px;
	font-weight:600;
	text-indent:-22px;
}
.view-edit-cont .notice-box .gray-box .list3 {margin-top:10px;}
.view-edit-cont .notice-box .gray-box .list3 li {
	margin:5px 0 0 14px;
	font-size:14px;
	text-indent:-14px;
}
.view-edit-cont .notice-box .gray-box .list2 li:first-child,
.view-edit-cont .notice-box .gray-box .list3 li:first-child {margin-top:0;}

/* 이벤트당첨확인 (Web-07.03.01.html) */
.box-list3 {
	margin-top:60px;
	border-top:1px solid #333;
}
.box-list3 .box-item {
	display:block;
	padding:21px 50px;
	border-bottom:1px solid #f2f2f2;
	font-weight:400;
	line-height:1.4;
}
.box-list3 .box-item p {
	color:#111;
	font-size:16px;
}
.box-list3 .box-item .list {margin-top:5px;}
.box-list3 .box-item .list .item {
	color:#777;
	font-size:15px;
}

/* ============================================================================================
	화원관리
============================================================================================ */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	로그인
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 아이디 (Web-02.01.01.1.html) */
.login-box {
	margin-top:60px;
	padding:70px 230px 70px;
	border:1px solid #ccc;
}

.login-box .form-area {
	position:relative;
	padding-right:110px;
}
.login-box .form-area .form-item {
	position:relative;
	margin-top:10px;
	padding-left:90px;
}
.login-box .form-area .form-item:first-child {margin-top:0;}
.login-box .form-area .form-item label {
	position:absolute;
	left:0;
	top:0;
	line-height:40px;
}
.login-box input {width:100%;}
.login-box input:focus {
	padding:0 14px;
	border:2px solid #e43762;
}
.login-box .form-area .btn-login {
	position:absolute;
	right:0;
	top:0;
	width:100px;
	height:90px;
	box-sizing:border-box;
	background-color:#7451c0;
	color:#fff;
	font-size:17px;
	font-weight:600;
	text-align:center;
	line-height:90px;
}

.login-box .link-area {
	margin-top:10px;
	line-height:40px;
	text-align:center;
}
.login-box .link-area a {
	display:inline-block;
	color:#999;
}
.login-box .link-area .link {
	position:relative;
	padding:0 22px 0 24px;
}
.login-box .link-area .link:before {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	width:1px;
	height:14px;
	margin-top:-7px;
	background-color:#a9a9a9;
}
.login-box .link-area .link:first-child:before {display:none;}
.login-box .link-area a.link {color:#333;}

.login-box .hashtags {
	overflow:hidden;
	margin-top:32px;
	padding:21px 0 0;
	border-top:1px solid #e0e0e0;
	font-size:0;
	margin-left:-7px;
}
.login-box .hashtags .tag {
	display:inline-block;
	margin:14px 7px 0;
	padding:0 14px;
	border-radius:25px;
	border:1px solid #7451c0;
	color:#7451c0;
	font-size:15px;
	line-height:28px;
}
.login-box .hashtags .tag:hover {
	color:#fff;
	background-color:#7451c0;
	transition:all .3s;
}

.banner-slider {
	position:relative;
	margin-top:45px;
}
.banner-slider .slide-item {
	font-size:0;
	line-height:0;
}
.banner-slider .slide-item a {display:block;}
.banner-slider .slide-item img {width:100%;}

.banner-slider .bx-controls {margin:-38px 0 0 15px;}
.btns-type1 .bx-pager {
	display:inline-block;
	overflow:hidden;
}
.btns-type1 .bx-pager .bx-pager-item {float:left;}
.btns-type1 .bx-pager .bx-pager-item .bx-pager-link {
	display:block;
	position:relative;
	width:18px;
	height:18px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.btns-type1 .bx-pager .bx-pager-item .bx-pager-link:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:8px;
	height:8px;
	margin:-4px 0 0 -4px;
	box-sizing:border-box;
	border-radius:50%;
	border:1px solid #161616;
}
.btns-type1 .bx-pager .bx-pager-item .bx-pager-link.active:before {background-color:#161616;}/* active */

.btns-type1 .bx-controls-direction {display:none;}
.btns-type1:hover .bx-controls-direction {display:inline-block;}/* hover */
.btns-type1 .bx-controls-direction a {
	position:absolute;
	top:50%;
	z-index:5;
	width:50px;
	height:50px;
	margin-top:-25px;
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.btns-type1 .bx-controls-direction .bx-prev {left:0;background-image:url(../images/icon/bx_prev02.png);}
.btns-type1 .bx-controls-direction .bx-next {right:0;background-image:url(../images/icon/bx_next02.png);}

.btns-type1 .bx-controls-auto {
	display:inline-block;
	position:relative;
	z-index:5;
}
.btns-type1 .bx-controls-auto a {
	display:block;
	width: 24px;
	height: 18px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.btns-type1 .bx-controls-auto a.active {display:none;}
.btns-type1 .bx-controls-auto .bx-start {background-image:url(../images/icon/bx_start02.png);}
.btns-type1 .bx-controls-auto .bx-stop {background-image:url(../images/icon/bx_stop02.png);}

/* 휴대폰OTP (Web-02.01.01.2.html) */
.login-box .form-area2 .form-item {
	position:relative;
	margin-top:10px;
	padding-right:170px;
}
.login-box .form-area2 .form-item:first-child {margin-top:0;}
.login-box .form-area2 .form-item .btn {
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
	width:160px;
	height:40px;
	box-sizing:border-box;
	border-radius:3px;
	background-color:#7b7b7b;
	color:#fff;
	text-align:center;
	line-height:40px;
}
.login-box .form-area2 .form-item.certification {padding-right:238px;}
.login-box .form-area2 .form-item .time {
	position:absolute;
	right:170px;
	top:0;
	font-size:20px;
	font-weight:600;
	line-height:40px;
}
.login-box .form-area2 .form-item input:focus + .btn,
.login-box .form-area2 .form-item input:focus + .time + .btn {background-color:#7451c0;transition:all .3s;}
.login-box .form-area2 .form-item input:focus + .time {color:#e43762;transition:all .3s;}

/* SNS (Web-02.01.01.3.html) */
.login-box .sns-box-list {
	overflow:hidden;
	margin:-5px -42px 0;
}
.login-box .sns-box-list .sns-item {
	float:left;
	width:50%;
	padding:10px 5px 0;
	box-sizing:border-box;
}
.login-box .sns-box-list .sns-item .sns {
	display:block;
	height:55px;
	padding-left:77px;
	border-radius:2px;
	color:#fff;
	font-weight:600;
	text-align:center;
	line-height:55px;
}
.login-box .sns-box-list .sns-item.item1 .sns {background:#1180c4 url(../images/member/icon_sns01.png) no-repeat 20px 50%;}
.login-box .sns-box-list .sns-item.item2 .sns {background:#de4535 url(../images/member/icon_sns02.png) no-repeat 25px 50%;}
.login-box .sns-box-list .sns-item.item3 .sns {background:#314a7e url(../images/member/icon_sns03.png) no-repeat 30px 50%;}
.login-box .sns-box-list .sns-item.item4 .sns {background:#fae100 url(../images/member/icon_sns04.png) no-repeat 18px 50%;color:#2f262a;}

/* 정식회원가입 (Web-02.02.02.3.html) */
.member-cont {}
.sub-txt-box {
	padding:63px 0 40px;
	border-top:1px solid #e0e0e0;
	text-align:center;
}
.sub-txt-box .title {
	color:#111;
	font-size:26px;
	font-weight:900;
	line-height:32px;
}
.sub-txt-box p {
	margin-top:24px;
	color:#4c4c4c;
	font-size:17px;
	font-weight:400;
	line-height:27px;
}
.sub-txt-box p.f-style {
	color:#e43762;
	font-weight:600;
}
.sub-txt-box p em {
	color:#111;
	font-weight:900;
}
.popup-text-area {
	margin-top:40px;
	color:#4c4c4c;
	font-size:15px;
	text-align:center;
	font-weight:400;
	line-height:22px;
}
.popup-text-area .f-style {
	color:#333;
	font-weight:600;
}
.popup-text-area .f-style:hover {text-decoration:underline;}/* hover */

/* 회원탈퇴안내 (Web-02.03.05.html) */
.matters-box1 {
	padding:24px 0 24px 30px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
}
.matters-box1 .matters-title {
	position:relative;
	margin-bottom:26px;
	padding-bottom:22px;
	border-bottom:1px solid #e0e0e0;
	color:#111;
	font-size:18px;
	font-weight:600;
	line-height:24px;
}
.matters-box1 .matters-title:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-1px;
	width:60px;
	height:1px;
	background-color:#111;
}
.matters-box2 {
	margin-top:45px;
	padding:24px 0 24px 30px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
}
.matters-box2 .matters-title {
	margin-bottom:17px;
	color:#111;
	font-size:18px;
	font-weight:600;
	line-height:24px;
}

/* ============================================================================================
	마이페이지
============================================================================================ */


/* ============================================================================================
	회사소개
============================================================================================ */


/* ============================================================================================
	대출
============================================================================================ */


/* ============================================================================================
	레이어팝업
============================================================================================ */
.layer-popup {
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:60;
	background-color:rgba(0,0,0,.7);
}
.layer-popup.show {display:block;}
.layer-popup .dimmed {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.layer-popup .popup {
	overflow-y:auto;
	position:absolute;
	left:50%;
	top:50%;
	box-sizing:border-box;
	background-color:#fff;
	padding:40px;
}
.layer-popup .popup .cont {
	color:#4c4c4c;
	text-align:center;
}
.layer-popup .popup .btn-close {
	position:absolute;
	right:20px;
	top:20px;
	width:60px;
	height:60px;
	background:url(../images/icon/btn_close04.png) no-repeat 50% 50%;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.layer-popup .popup .btn-bottom-area {
	margin-top:40px;
	text-align:center;
}
.layer-popup .popup .btn-bottom-area .btn-text {
	min-width:130px;
	height:45px;
	margin-left:8px;
	line-height:45px;
}
.layer-popup .popup .btn-bottom-area .btn-text:first-child {margin-left:0;}
.layer-popup .popup .btn-bottom-area .btn-text.type1 {line-height:43px;}

/* 스크롤 방식 */
.layer-popup .popup .title-area {
	height:100px;
	margin-top:-40px;
}
.layer-popup .popup .title-area .p-title {
	color:#111;
	font-size:26px;
	font-weight:600;
	line-height:100px;
	text-align:center;
}
.layer-popup .popup .scoll-cont {
	overflow-y:auto;
	max-height:350px;
}

/* 대출접수 (loan/MA-05.03.01.html) */
.layer-popup .popup .complated {
	color:#737373;
	font-weight:600;
}
.layer-popup .complated .icon-text {
	padding:90px 0 13px;
	background:url(../images/icon/icon_complated.png) no-repeat 50% 0;
	color:#333;
	font-size:26px;
	font-weight:400;
}
.layer-popup .complated .icon-text strong {font-weight:900;}