@charset 'utf-8';

/* ============================================================================================
	Font
============================================================================================ */
/* Light */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:400;
	src:url('font/NotoSansCJKkr-Light.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Light.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Light.woff') format('woff'),
	url('font/NotoSansCJKkr-Light.ttf') format('truetype');
}
/* Regular */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:600;
	src:url('font/NotoSansCJKkr-Regular.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Regular.woff') format('woff'),
	url('font/NotoSansCJKkr-Regular.ttf') format('truetype');
}
/* Medium */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:900;
	src:url('font/NotoSansCJKkr-Medium.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Medium.woff') format('woff'),
	url('font/NotoSansCJKkr-Medium.ttf') format('truetype');
}

/* ============================================================================================
	Reset
============================================================================================ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;outline:0;}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button,select {font-family:noto;font-size:15px;line-height:1.5;color:#333;letter-spacing:-0.4px;}
body {overflow-x:hidden;width:100%;word-break:keep-all;}
input[type=submit] {-webkit-border-radius:0;border:0;border-radius:0;-webkit-appearance:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;}
legend,caption {display:none; visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
table {table-layout:fixed;width:100%;margin:0;padding:0;border-spacing:0;border:0;border-collapse:collapse;}
*+html table {border-collapse:collapse;}
button {outline:0;vertical-align:top;}

input[type=text],
input[type=tel],
input[type=number],
input[type=password] {
	width:100%;
	height:50px;
	padding:0;
	box-sizing:border-box;
	border-radius:0;
	border:0;
	border-bottom:1px solid #d9d9d9;
	background-color:#fff;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	vertical-align:top;
}
input[type=text]:disabled,
input[type=tel]:disabled,
input[type=number]:disabled,
input[type=password]:disabled {
	
}

textarea {
	width:100%;
	padding:14px 19px;
	border:1px solid #b2b2b2;
	border-radius:0;
	background-color:#fff;
	box-sizing:border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	word-break:keep-all;
	word-wrap:break-word;
	resize:none;
}
:-ms-input-placeholder {color:#b2b2b2;}
::-webkit-input-placeholder {color:#b2b2b2;}
::-moz-placeholder {color:#b2b2b2;}

select {
	display:inline-block;
	overflow:hidden;
	width:100%;
	height:50px;
	margin:0;
	padding-right:20px;
	padding:0;
	box-sizing:border-box;
	border-radius:0;
	border:0;
	border-bottom:1px solid #d9d9d9;
	background:url(../images/common/icon_select.png) no-repeat 100% 50%;
	background-size:13px 6px;
	text-overflow:ellipsis;
	text-align:left;
	text-transform:none;
	white-space:nowrap;
	color:#111;
	font-weight:600;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

/* ============================================================================================
	공통
============================================================================================ */

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	버튼
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	폼 요소
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	탭/소팅/검색
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	리스트
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* ============================================================================================
	기타
============================================================================================ */


/* ============================================================================================
	레이아웃
============================================================================================ */
html,
body,
.wrapper {height:10000px;
	overflow-x:auto;
	min-width:1260px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	해더
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	min-width:1260px;
	height:110px;
	background-color:#2c203b;
	z-index:50;
}
.header .head-inner {
	position:relative;
	width:100%;
	height:110px;
	max-width:1300px;
	margin:0 auto;
}
.header .head-inner .h-logo {
	width:160px;
	position:absolute;
	left:0;
	bottom:0;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .head-inner .h-logo a {
	display:block;
	height:66px;
	background:url(../images/common/h_logo.png) no-repeat 0 50%;
}
.header .head-inner .utill {
	height:44px;
	padding-top:12px;
	box-sizing:border-box;
	font-size:0;
	text-align:right;
	line-height:0;
}
.header .head-inner .utill .link {
	display:inline-block;
	position:relative;
	padding:0 16px 0 13px;
	color:rgba(255,255,255,.4);
	font-size:13px;
	line-height:20px;
}
.header .head-inner .utill .link:first-child {color:#b29bc7;}
.header .head-inner .utill .link:before {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	width:1px;
	height:10px;
	margin-top:-5px;
	background-color:rgba(255,255,255,.1);
}
.header .head-inner .utill .link:first-child:before {display:none;}
.header .head-inner .utill .btn-mobile {
	display:inline-block;
	height:20px;
	margin-left:15px;
	padding:0 5px;
	box-sizing:border-box;
	border:1px solid #c6a9c8;
	color:#c09bde;
	font-size:13px;
	line-height:18px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	전체메뉴
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.gnb-area {
	position:absolute;
	right:120px;
	bottom:0;
}
.gnb-area .gnb-list {}
.gnb-area .gnb-list:after {
	content:'';
	display:block;
	clear:both;
}
.gnb-area .gnb-list .gnb-item {
	float:left;
}
.gnb-area .gnb-list .gnb-item .item {
	display:block;
	position:relative;
	padding:0 32px;
	height:66px;
	color:#fff;
	font-size:18px;
	font-weight:600;
	line-height:66px;
}
.gnb-area .gnb-list .gnb-item.on .item {
	color:#ef8ffa;
}/* on */
.gnb-area .gnb-list .gnb-item.on .item:before {
	content:'';
	position:absolute;
	left:22px;
	right:22px;
	bottom:0;
	height:5px;
	background-color:#ef8ffa;
}

.gnb-area .gnb-list .gnb-item .gnb-depth {
	display:none;
	position:fixed;
	left:0;
	right:0;
	top:110px;
	background-color:#fff;
	box-shadow:0 7px 21px 0 rgba(0,0,0,.1);
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth-inner {
	overflow:hidden;
	width:100%;
	max-width:1150px;
	margin:0 auto;
	padding:40px 0;
}
.gnb-area .gnb-list .gnb-item .gnb-depth .depth {
	float:left;
	position:relative;
	width:16.66666666666667%;
	box-sizing:border-box;
	border-left:1px solid #e5e5e5;
}

/* 스크롤시 고정되는 영역 */
.head-fix-box {
	position:absolute;
	left:0;
	right:0;
	top:110px;
	background-color:#fff;
	height:40px;
}
.header .Breadcrumbs {
	overflow:hidden;
	width:100%;
	max-width:1300px;
	margin:0 auto;
	background-color:#fff;
}
.header .Breadcrumbs .crumb-item {
	float:left;
}
.header .Breadcrumbs .crumb-item .crumb {
	display:block;
	height:40px;
	padding:0 20px 0 14px;
	background:url(../images/icon/icon_arr_right01.png) no-repeat 100% 50%;
	line-height:40px;
}
.header .Breadcrumbs .crumb-item:first-child .crumb {padding-left:0;}
.header .Breadcrumbs .crumb-item:last-child .crumb {background:none;}
.header .Breadcrumbs .crumb-item .menu-list {
	display:none;
}
.header .Breadcrumbs .crumb-item .menu-list .menu-item {}
.header .Breadcrumbs .crumb-item .menu-list .menu-item .title {}
.header .Breadcrumbs .crumb-item .menu-list .menu-item .list {}
.header .Breadcrumbs .crumb-item .menu-list .menu-item .list .link {}
.header .Breadcrumbs .crumb-item .menu-list {}
.header .Breadcrumbs .crumb-item {}
.header .Breadcrumbs .crumb-item {}
.header .Breadcrumbs {}
.header.page-title-area {}
.header .page-title-area {}

.header .page-title-area {
	text-align:center;
}
.head-fix-box .page-title-area .inner-box {
	display:inline-block;
	padding-right:38px;
	background:url(../images/icon/icon_arr_bottom01.png) no-repeat 100% 50%;
}
.head-fix-box .page-title-area .page-title {
	height:90px;
	color:#111;
	font-size:30px;
	font-weight:600;
	line-height:90px;
	cursor:pointer;
}
.head-fix-box .page-title-area .layer {
	display:none;
}

/*
	스크롤시 해더 변환
*/
.header {
	transition:top .2s;
}
.scroll .header .Breadcrumbs {
	transition:all .5s;
}
.scroll .header {
	top:-110px;
}
.scroll .header .Breadcrumbs {
	background-color:#653c9e;
}
.scroll ..header .page-title-area {
	height:85px;
	line-height:85px;
	box-shadow:2px 2px 2px rgba(0,0,0,.1);
}
.scroll .header {}


/* ============================================================================================
	회원관리
============================================================================================ */
