@charset 'utf-8'; /* 메인 */

.container {padding:110px 0 0;}

.header {
	position:absolute;
}
.header .head-inner .h-logo span {
	display:block;
	height: 62px;
	background:url(../images/main/h_logo_main.png) no-repeat 0 50%;
}

.content {
	padding-top:100px;
	width:100%;
}


.scroll .header {top:0;}
.scroll .container {padding-top:110px;}

/* ============================================================================================
	상단 비주얼 영역
============================================================================================ */
.top-visual-slider {position:relative;}
.top-visual-slider .slide-item {
	overflow:hidden;
	height:446px;
}
.top-visual-slider .slide-item .img-area {
	position:absolute;
	left:50%;
	top:0;
	margin-left:-960px;
	width:1920px;
	font-size:0;
	line-height:0;
}
.top-visual-slider .slide-item .img-area img {width:100%;}
.top-visual-slider .slide-item .text-area {
	width:100%;
	min-width:1000px;
	max-width:1024px;
	position:absolute;
	left:50%;
	top:100px;
	margin-left:-550px;
	padding:0 100px;
	color:#111;
}
.top-visual-slider .slide-item .text-area .title {
	margin-left:50px;
	font-size:42px;
	line-height:1.2;
	opacity:0;
}
.top-visual-slider .slide-item .text-area .title strong {font-weight:900;}
.top-visual-slider .slide-item .text-area .text {
	margin-left:50px;
	margin-top:18px;
	font-size:18px;
	opacity:0;
}

.top-visual-slider .bx-controls {
	position:absolute;
	left:0;
	right:0;
	bottom:60px;
	z-index:5;
	font-size:0;
	text-align:center;
	line-height:0;
}
.top-visual-slider .bx-pager {display:inline-block;}
.top-visual-slider .bx-pager .bx-pager-item {display:inline-block;}
.top-visual-slider .bx-pager .bx-pager-item .bx-pager-link {
	display:block;
	position:relative;
	width:22px;
	height:22px;
	box-sizing:border-box;
	text-indent:-9999px;
}
.top-visual-slider .bx-pager .bx-pager-item .bx-pager-link:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:12px;
	height:12px;
	margin:-6px 0 0 -6px;
	box-sizing:border-box;
	border-radius:50%;
	border:2px solid #fff;
}
.top-visual-slider .bx-pager .bx-pager-item .bx-pager-link.active:before {background-color:#fff;}
.top-visual-slider .bx-controls-direction {
	overflow:hidden;
	padding-bottom:130px;
	width:100%;
	max-width:1394px;
	margin:0 auto;
}
.top-visual-slider .bx-controls-direction a {
	display:block;
	width:44px;
	height:65px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.top-visual-slider .bx-controls-direction .bx-prev {float:left;background-image:url(../images/icon/bx_prev.png);}
.top-visual-slider .bx-controls-direction .bx-next {float:right;background-image:url(../images/icon/bx_next.png);}
.top-visual-slider .bx-controls-auto {display:inline-block;}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item {display:inline-block;}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item a {
	display:block;
	width:28px;
	height:22px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item a.active {display:none;}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item .bx-start {background-image:url(../images/icon/bx_start.png);}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item .bx-stop {background-image:url(../images/icon/bx_stop.png);}

/* 대출시물레이션 */
.loan-box {
	margin:-8px auto 0;
	padding-bottom:100px;
	width:1000px;
}
.loan-box .l-title {
	color:#111;
	font-size:26px;
	font-weight:900;
	text-align:center;
}
.loan-box .searth-box {
	padding:0;
	margin:43px 0 0;
	background-color:#fff;
}
.loan-box .searth-box .board {
	width:auto;
	padding:0;
}
.loan-box .searth-box .board th {padding-left:40px;}
.loan-box .searth-box .board th:first-child {padding-left:0;}
.loan-box .searth-box .board td {padding-right:0;}
.loan-box .searth-box .board .unit-area {padding-right:0;}
.loan-box .searth-box .board .unit-area .unit-text {
	position:inherit;
	top:inherit;
	right:inherit;
	margin-top:0;
	margin-left:20px;
}
.loan-box .searth-box .result-area {
	margin:12px 0 0;
	padding-bottom:27px;
}
.loan-box .searth-box .result-area .month {
	color:#111;
	font-size:20px;
	font-weight:600;
}
.loan-box .searth-box .result-area .price em {font-weight:400;}
.loan-box .btn-area {
	text-align:center;
	font-size:0;
}
.loan-box .btn-area .btn-text {margin-left:15px;}
.loan-box .btn-area .btn-text:first-child {margin-left:0;}
.loan-box .searth-box .btn-area {
	margin:12px 0 0;
	padding:40px 0 0;
}

/* 추천 상품 영역 */
.recommend-box {
	position:relative;
	margin-bottom:100px;
	background-color:#798082;
}
.recommend-box:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	z-index:10;
	width:100%;
}
.recommend-box .bg-area {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../images/main/bg_recommend.jpg) no-repeat 0 0;
	background-size:cover;
}
.recommend-box .inner-box {
	position:relative;
	width:100%;
	max-width:1200px;
	min-width:1000px;
	margin:0 auto;
	padding:88px 10px 100px;
	box-sizing:border-box;
}
.recommend-box .text-area {
	width:240px;
	color:#fff;
	opacity:0;
}
.recommend-box .text-area .text {
	font-size:40px;
	line-height:1.3;
}
.recommend-box .text-area .text strong {font-weight:900;}
.recommend-box .text-area .btn-list {margin-top:120px;}
.recommend-box .text-area .btn-list .btn {
	position:relative;
	width:100%;
	margin-top:30px;
	text-align:left;
}
.recommend-box .text-area .btn-list .btn:first-child {margin-top:0;}
.recommend-box .text-area .btn-list .btn span {
	display:inline-block;
	padding:16px 26px 16px 0;
	background:url(../images/icon/btn_link05.png) no-repeat 100% 50%;
	color:#fff;
	font-size:18px;
	font-weight:900;
}
.recommend-box .text-area .btn-list .btn span:before {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:0;
	height:1px;
	background-color:#fff;
}

.recommend-box .product-list {
	overflow:hidden;
	position:absolute;
	left:25%;
	right:0;
	top:90px;
	bottom:100px;
	padding-top:10px;
}
.recommend-box .product-list .product-item {
	float:left;
	width:25%;
	height:100%;
	margin-left:-225px;
	padding:0 10px;
	box-sizing:border-box;
	text-align:center;
	opacity:0;
}
.recommend-box .product-list .product-item .inner {
	position:relative;
	height:100%;
	padding-top:74px;
	box-sizing:border-box;
	background-color:#f7f7f7;
	color:#000;
}
.recommend-box .product-list .product-item .inner:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:70px;
	background:url(../images/main/bg_recom.png) no-repeat 0 0;
	background-size:205px;
	opacity:0;
}
.recommend-box .product-list .product-item .title {
	padding:0 20px;
	font-size:20px;
	font-weight:900;
}
.recommend-box .product-list .product-item .text {
	position:absolute;
	left:0;
	right:0;
	bottom:100px;
	padding:0 20px;
	font-size:16px;
}
.recommend-box .product-list .product-item .btn {
	display:block;
	position:absolute;
	left:50%;
	bottom:45px;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	min-width:120px;
	height:35px;
	padding:0 19px;
	box-sizing:border-box;
	border-radius:4px;
	border:1px solid #b3b3b3;
	color:#4c4c4c;
	text-align:center;
	line-height:33px;
	white-space:nowrap;
}

/* on */
.recommend-box.on .bg-area {
	opacity:1;
	transition:all .3s;
}
.recommend-box.on .text-area {
	opacity:1;
	transition:all .3s;
}
.recommend-box.on .text-area .btn-list .btn span:before {
	width:100%;
	transition:all .3s;
	transition-delay:.2s;
}
.recommend-box.on .product-list .product-item {
	margin-left:0;
	opacity:1;
	transition:all .6s;
	transition-delay:.2s;
}
.recommend-box.on:before {
	width:0;
	opacity:0;
	transition:all .1s;
	transition-delay:1s;
}

/* hover */
.recommend-box .product-list .product-item .inner {transition:all .2s;}
.recommend-box .product-list .product-item .inner:hover {
	background-color:#6a258a;
	color:#fff;
	margin-top:-10px;
	transition:margin .5s;
}
.recommend-box .product-list .product-item .inner:hover:before {
	width:100%;
	opacity:1;
	transition:all .4s;
}
.recommend-box .product-list .product-item .inner:hover .btn {
	border-color:#fff;
	background-color:#fff;
	color:#7451c0;
	transition:all .4s;
}



/* 푸터 */
.footer {margin-top:60px;}