@charset 'utf-8'; /* 메인 */

html,
body {}

.container {
	padding:110px 0 0;
}

/* ============================================================================================
	상단 비주얼 영역
============================================================================================ */
.top-visual-slider {position:relative;}
.top-visual-slider .slide-item {
	overflow:hidden;
	height:446px;
}
.top-visual-slider .slide-item .img-area {
	position:absolute;
	left:50%;
	top:0;
	margin-left:-960px;
	width:1920px;
	font-size:0;
	line-height:0;
}
.top-visual-slider .slide-item .img-area img {width:100%;}
.top-visual-slider .slide-item .text-area {
	width:1024px;
	position:absolute;
	left:50%;
	top:100px;
	margin-left:-512px;
	color:#111;
}
.top-visual-slider .slide-item .text-area .title {
	margin-left:50px;
	font-size:42px;
	line-height:1.2;
	opacity:0;
}
.top-visual-slider .slide-item .text-area .title strong {font-weight:900;}
.top-visual-slider .slide-item .text-area .text {
	margin-left:50px;
	margin-top:18px;
	font-size:18px;
	opacity:0;
}

.top-visual-slider .bx-controls {
	position:absolute;
	left:0;
	right:0;
	bottom:60px;
	z-index:5;
	font-size:0;
	text-align:center;
	line-height:0;
}
.top-visual-slider .bx-pager {display:inline-block;}
.top-visual-slider .bx-pager .bx-pager-item {display:inline-block;}
.top-visual-slider .bx-pager .bx-pager-item .bx-pager-link {
	display:block;
	position:relative;
	width:18px;
	height:18px;
	box-sizing:border-box;
	text-indent:-9999px;
}
.top-visual-slider .bx-pager .bx-pager-item .bx-pager-link:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:8px;
	height:8px;
	margin:-4px 0 0 -4px;
	box-sizing:border-box;
	border-radius:50%;
	border:1px solid #fff;
}
.top-visual-slider .bx-pager .bx-pager-item .bx-pager-link.active:before {background-color:#fff;}
.top-visual-slider .bx-controls-direction {
	overflow:hidden;
	position:absolute;
	left:50%;
	bottom:130px;
	width:1394px;
	margin-left:-697px;
}
.top-visual-slider .bx-controls-direction a {
	display:block;
	width:44px;
	height:65px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.top-visual-slider .bx-controls-direction .bx-prev {float:left;background-image:url(../images/icon/bx_prev.png);}
.top-visual-slider .bx-controls-direction .bx-next {float:right;background-image:url(../images/icon/bx_next.png);}
.top-visual-slider .bx-controls-auto {display:inline-block;}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item {display:inline-block;}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item a {
	display:block;
	width:24px;
	height:18px;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item a.active {display:none;}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item .bx-start {background-image:url(../images/icon/bx_start.png);}
.top-visual-slider .bx-controls-auto .bx-controls-auto-item .bx-stop {background-image:url(../images/icon/bx_stop.png);}