@charset 'utf-8';



.mgT65 {margin-top:65px !important;}

.fColor1 {color:#e21c24 !important;}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	리스트
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 불릿 리스트 */
.bullet-list1 li {
	position:relative;
	padding-left:13px;
	color:#4c4c4c;
	font-size:15px;
	font-weight:400;
	line-height:33px;
}
.bullet-list1 li:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:15px;
	width:3px;
	height:3px;
	background-color:#111;
	border-radius:50%;
}

/* ============================================================================================
	고객센터
=========================================================================================== */

/* 지점안내 (Web-08.04.html) */
.point-area {
	padding-top:20px;
	border-top:1px solid #111;
}
.point-area .infor-box p {
	color:#111;
	font-size:20px;
	font-weight:600;
	line-height:1.3;
}
.point-area .infor-box .infor-list {margin-top:15px;}
.point-area .infor-box .infor-list .item {
	position:relative;
	padding-left:30px;
	color:#4c4c4c;
	font-size:15px;
	font-weight:400;
	line-height:2.1;
}
.point-area .infor-box .infor-list .item .tit {
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.point-area .map-area {margin-top:10px;}

/* 공지사항 목록 (Web-08.01.01.html) */
.customer-notice {}
.search-form {
	padding:30px 120px;
	background-color:#f7f7f7;
	box-sizing:border-box;
}
.search-form .search-box {
	position:relative;
	padding-right:160px;
}
.search-form .search-box input {
	width:100%;
	height: 40px;
	padding: 0 25px 0 50px;
	border: 1px solid #c9c9c9;
	background:#fff url(../images/common/icon_search.png) no-repeat 15px 10px;
}
.search-form .search-box .btn-text {
	position:absolute;
	right:0;
	top:0;
	min-width:130px;
}

.notice-list {
	margin-top:60px;
	border-top:1px solid #333;
}
.notice-list .item-notice {
	display:block;
	padding:21px 50px;
	border-bottom:1px solid #f2f2f2;
	font-weight:400;
	line-height:1.4;
}
.notice-list .item-notice p {
	color:#111;
	font-size:16px;
}
.notice-list .item-notice .infor-list {margin-top:5px;}
.notice-list .item-notice .infor-list .item {
	color:#777;
	font-size:15px;
}
/* 공지사항 상세 (Web-08.01.02.html) */
.view-form .view-text .view-list {border-top:1px solid #333;}
.view-form .view-text .view-list .item-view {
	padding:20px 0;
	border-bottom:1px solid #f2f2f2;
}
.view-form .view-text .view-list .item-view p {
	color:#111;
	font-size:23px;
	font-weight:600;
	line-height:1.3;
}
.view-form .view-text .view-list .infor-list {margin-top:10px;}
.view-form .view-text .view-list .infor-list .item {
	color:#777;
	font-size:15px;
	font-weight:400;
	line-height:1.5;
}
.view-form .view-text .view-tit {
	margin-top:40px;
	color:#111;
	font-size:25px;
	font-weight:600;
	line-height:1.6;
	text-align:center;
}
.view-form .view-cont {margin-top:45px;}

/* 고객상담 (Web-08.03.01.html) */
.masking-box {
	height:125px;
	padding:35px 20px;
	background-color:#fafafa;
}
.masking-box .msking-list {
	overflow:hidden;
}
.masking-box .msking-list .item {
	float:left;
	position:relative;
	padding-left:27px;
	color:#434343;
	font-size:15px;
	font-weight:400;
	line-height:21px;
}
.masking-box .msking-list .item:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:px;
	height:px;
	background:url(../images/) no-repeat 0 0;
}
.masking-box .msking-list .item .time {
	display:inline-block;
	margin-left:10px;
}

/* ============================================================================================
	롯데카드소개
============================================================================================ */
/* CEO인사말 (Web-04.01.html) */
.ceo-visual {
	width:100%;
	background-color:#f0f0f8;
}
.ceo-visual .box-inner {
	position:relative;
	width:1000px;
	height:434px;
	margin:0 auto;
	padding:196px 0 104px;
	box-sizing:border-box;
}
.ceo-visual .visual-text {}
.ceo-visual .visual-text .tit {
	display:block;
	vertical-align:top;
}
.ceo-visual .visual-text p {
	margin-top:14px;
	color:#111;
	font-size:18px;
	font-weight:400;
	line-height:25px;
}
.ceo-visual .visual-text .name-box {
	margin-top:20px;
	color:#908f95;
	font-size:18px;
	font-weight:600;
}
.ceo-visual .visual-text .name-box .name {
	display:inline-block;
	margin-left:15px;
	vertical-align:middle;
}
.ceo-visual .visual-img {
	position:absolute;
	right:72px;
	bottom:0;
}
.ceo-visual .visual-img img {vertical-align:top;}

.intro-text {margin-top:45px;}
.intro-text .text1 {
	color:#111;
	font-size:18px;
	font-weight:600;
	line-height:24px;
}
.intro-text .text2 {
	margin-top:18px;
	color:#4c4c4c;
	font-size:15px;
	font-weight:400;
	line-height:24px;
}
/* 롯데카드소개 (Web-04.02.01.html) */
.intro-visual {width:100%;}
.intro-visual.intro1 {background:#f0f0f8 url(../images/img/intro_img01.png) no-repeat right 0;}
.intro-visual.intro2 {background:#f0f0f8;}
.intro-visual .box-inner {
	position:relative;
	width:1000px;
	height:434px;
	margin:0 auto;
	padding:197px 0 133px;
	box-sizing:border-box;
	text-align:center;
}
.intro-visual .visual-text {}
.intro-visual .visual-text .tit {
	display:block;
	vertical-align:top;
}
.intro-visual .visual-text p {
	margin-top:14px;
	color:#111;
	font-size:18px;
	font-weight:400px;
	line-height:25px;
}
.intro-visual .visual-img {
	position:absolute;
	right:72px;
	bottom:0;
}
.intro-visual .visual-img img {vertical-align:top;}

/* ============================================================================================
	Loan
============================================================================================ */
/* 대출접수완료 (MA-05.03.02.html) */
.result-cont {
	padding-bottom:207px;
	background:url(../images/bg/bg_complate02.jpg) no-repeat 50% bottom;
	text-align:center;
}
.result-cont .title {
	padding-top:85px;
	color:#111;
	font-size:28px;
	font-weight:600;
	line-height:34px;
	background:url(../images/bg/bg_complate01.png) no-repeat 50% 0;
}
.result-cont .text {
	margin-top:5px;
	color:#737373;
	font-size:16px;
	font-weight:400;
	line-height:24px;
}

/* ============================================================================================
	회원관리
============================================================================================ */
/* 정식회원관리 (Web-02.02.02.3.html) */
.member-cont {}
.member-cont .txt-box {
	padding:63px 0 40px;
	border-top:1px solid #e0e0e0;
	text-align:center;
}
.member-cont .txt-box .title {
	color:#111;
	font-size:26px;
	font-weight:900;
	line-height:32px;
}
.member-cont .txt-box p {
	margin-top:24px;
	color:#4c4c4c;
	font-size:17px;
	font-weight:400;
	line-height:27px;
}
.member-cont .txt-box p.f-style {
	color:#e43762;
	font-weight:600;
}
.member-cont .txt-box p em {
	color:#111;
	font-weight:900;
}
.policy-box {
	margin-top:40px;
	text-align:center;
}
.policy-text {
	color:#4c4c4c;
	font-size:15px;
	font-weight:400;
	line-height:22px;
}
.policy-text em {
	color:#333;
	font-weight:600;
}
/* 회원탈퇴안내 (Web-02.03.05.html) */
.matters-box1 {
	padding:24px 0 24px 30px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
}
.matters-box1 .matters-title {
	position:relative;
	margin-bottom:26px;
	padding-bottom:22px;
	border-bottom:1px solid #e0e0e0;
	color:#111;
	font-size:18px;
	font-weight:600;
	line-height:24px;
}
.matters-box1 .matters-title:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-1px;
	width:60px;
	height:1px;
	background-color:#111;
}
.matters-box2 {
	margin-top:45px;
	padding:24px 0 24px 30px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
}
.matters-box2 .matters-title {
	margin-bottom:17px;
	color:#111;
	font-size:18px;
	font-weight:600;
	line-height:24px;
}