@charset 'utf-8';

/* ============================================================================================
	Font
============================================================================================ */
/* Light */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:400;
	src:url('font/NotoSansCJKkr-Light.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Light.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Light.woff') format('woff'),
	url('font/NotoSansCJKkr-Light.ttf') format('truetype');
}
/* Regular */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:600;
	src:url('font/NotoSansCJKkr-Regular.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Regular.woff') format('woff'),
	url('font/NotoSansCJKkr-Regular.ttf') format('truetype');
}
/* Medium */
@font-face{
	font-family:noto;
	font-style:normal;
	font-weight:900;
	src:url('font/NotoSansCJKkr-Medium.eot');
	src:local(※),
	url('font/NotoSansCJKkr-Medium.eot?#iefix') format('embedded-opentype'),
	url('font/NotoSansCJKkr-Medium.woff') format('woff'),
	url('font/NotoSansCJKkr-Medium.ttf') format('truetype');
}

/* ============================================================================================
	Reset
============================================================================================ */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle;outline:0;}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button,select {font-family:noto;font-size:15px;line-height:1.5;color:#333;letter-spacing:-0.4px;}
body {overflow-x:hidden;width:100%;-webkit-user-select:none}
input[type=submit] {-webkit-border-radius:0;border:0;border-radius:0;-webkit-appearance:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
legend,caption {display:none; visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
table {table-layout:fixed;width:100%;margin:0;padding:0;border-spacing:0;border:0;border-collapse:collapse;}
*+html table {border-collapse:collapse;}
button {outline:0;vertical-align:top;}

input[type=text],
input[type=tel],
input[type=number],
input[type=password] {
	width:100%;
	height:50px;
	padding:0;
	box-sizing:border-box;
	border-radius:0;
	border:0;
	border-bottom:1px solid #b2b2b2;
	background-color:#fff;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	vertical-align:top;
}
input[type=text]:disabled,
input[type=tel]:disabled,
input[type=number]:disabled,
input[type=password]:disabled {
	
}

textarea {
	width:100%;
	padding:14px 19px;
	border:1px solid #b2b2b2;
	border-radius:0;
	background-color:#fff;
	box-sizing:border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	word-break:keep-all;
	word-wrap:break-word;
	resize:none;
}
:-ms-input-placeholder {color:#b2b2b2;opacity:1;}
::-webkit-input-placeholder {color:#b2b2b2;opacity:1;}
::-moz-placeholder {color:#b2b2b2;opacity:1;}

select {
	display:inline-block;
	width:100%;
	height:50px;
	margin:0;
	padding:0;
	box-sizing:border-box;
	border-radius:0;
	border:0;
	border-bottom:1px solid #d9d9d9;
	background:url(../images/common/icon_select.png) no-repeat 100% 50%;
	background-size:13px 6px;
	text-align:left;
	text-transform:none;
	white-space:nowrap;
	color:#111;
	font-weight:600;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

/* ============================================================================================
	공통
============================================================================================ */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	스와이퍼
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.swiper-container {
	overflow:hidden;
	position:relative;
	z-index:1;
	width:100%;
	height:100%;
	margin:0 auto;
}

.swiper-wrapper,
.swiper-slide {
	position:relative;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

.swiper-wrapper {
	z-index:1;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	-ms-transition-property:-ms-transform;
	transition-property:transform;
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate(0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* 슬라이드 객체 */
.swiper-slide {
	overflow:hidden;
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	box-sizing:border-box;
}

/* 페이지네이션 */
.swiper-pagination {
	position:absolute;
	left:0;
	bottom:0;
	z-index:5;
	width:100%;
	height:40px;
	padding-top:15px;
	box-sizing:border-box;
	font-size:0;
	text-align:center;
}
.swiper-pagination .swiper-pagination-bullet {
	display:inline-block;
	position:relative;
	width:10px;
	height:10px;
	transition:.3s;
}
.swiper-pagination .swiper-pagination-bullet:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:5px;
	height:5px;
	border-radius:25px;
	background-color:#fff;
	opacity:.4;
	transition:.3s;
}
.swiper-pagination .swiper-pagination-bullet-active {width:22px;}
.swiper-pagination .swiper-pagination-bullet-active:before {
	width:18px;
	opacity:1;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	버튼
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.bottom-fixed-area {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:50;
}

/* 텍스트 버튼 */
.btn-text {
	display:inline-block;
	width:100%;
	height:55px;
	background-color:#4b4b4b;
	color:#fff;
	font-size:16px;
	font-weight:600;
	text-align:center;
	line-height:55px;
}
.btn-text.type1 {background-color:#5d30a6;}

/* 아이콘 버튼 */
.btn-icon {
	display:inline-block;
	position:relative;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.btn-icon:before,
.btn-icon::before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	background-image:url(../images/common/sprite_icon.png);
	background-repeat:no-repeat;
	background-size:250px;
}

.btn-delete {
	width:20px;
	height:20px;
}
.btn-delete:before,
.btn-delete::before {
	width:20px;
	height:20px;
	background-position:0 -99px;
}

.btn-search {
	width:18px;
	height:18px;
}
.btn-search:before,
.btn-search::before {
	width:18px;
	height:18px;
	background-position:-21px -99px;
}

/* 링크 */
.link-type1 {
	display:inline-block;
	position:relative;
	padding-right:20px;
	color:#5d30a6;
	font-size:17px;
}
.link-type1:before {
	content:'';
	position:absolute;
	right:0;
	top:57%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:16px;
	height:16px;
	background:url(../images/common/sprite_icon.png) no-repeat -49px 0;
	background-size:250px;
}

/* 버튼 리스트 */
.btn-list {overflow:hidden;}
.btn-list .btn-item {
	float:left;
	width:50%;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	폼 요소
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 파일첨부 */
.filebox {
	display:inline-block;
	width:100%;
	position:relative;
}
.filebox .filename {
	display:inline-block;
	width:100%;
	height:50px;
	box-sizing:border-box;
	border:1px solid #999;
	background-color:#fff;
	font-size:14px;
	font-weight:600;
	text-align:center;
	line-height:48px;
}
.filebox input[type=file] {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:50px;
	opacity:0;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	탭/소팅/검색
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 탭 */
.tab-list1 {overflow:hidden;}
.tab-list1 .tab-item {
	float:left;
	position:relative;
	width:50%;
	box-sizing:border-box;
	border-bottom:1px solid #dadada;
	font-size:17px;
	font-weight:600;
	text-align:center;
	line-height:50px;
}
.tab-list1 .tab-item.on {
	color:#5d30a6;
	font-weight:900;
}
.tab-list1 .tab-item.on:before {
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom:-1px;
	height:3px;
	background-color:#5d30a6;
}
.tab-wrap .tab-cont {display:none;}
.tab-wrap .tab-cont.on {display:block;}

/* 슬라이드 탭 */
.tab-scroll-x {
	border-top:1px solid #737373;
	border-bottom:1px solid #d9d9d9;
}
.tab-scroll-x .swiper-container {
	padding-left:20px;
	box-sizing:border-box;
}
.tab-scroll-x .swiper-slide {
	display:inline-block;
	width:auto;
	padding:13px 22px 16px 0;
}
.tab-scroll-x .swiper-slide .text {
	display:inline-block;
	color:#999;
	font-size:13px;
	line-height:20px;
}
.tab-scroll-x .swiper-slide.on .text {
	position:relative;
	color:#5d30a6;
	font-weight:900;
}
.tab-scroll-x .swiper-slide.on .text:before {
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom:-1px;
	height:1px;
	background-color:#5d30a6
}

.tab-scroll-x.fix {
	position:fixed;
	left:0;
	right:0;
	z-index:50;
	border-top:0;
	background-color:rgba(255,255,255,.9);
}


/* 소팅 */
.sorting-box {
	overflow:hidden;
	padding:15px 20px;
	border-bottom:1px solid #cdcdcd;
}
.sorting-box .btn {
	float:left;
	border-radius:25px;
	line-height:30px;
	-webkit-transition:all .3s;
	-ms-transition:all .3s;
	transition:all .3s;
}
.sorting-box .btn.on {
	background-color:#5a30a6;
	color:#fff;
	font-weight:600;
	text-align:center;
	
}
.sorting-box.fix {
	position:fixed;
	left:0;
	right:0;
	z-index:50;
	background-color:rgba(255,255,255,.9);
}

/* 검색 영역 */
.search-form {position:relative;}
.search-form input[type=text] {
	width:100%;
	height:46px;
	padding:0 60px 0 0;
}
.search-form .btn-icon {
	position:absolute;
	top:0;
	height:46px;
}
.search-form .btn-delete {
	right:25px;
	width:34px;
}
.search-form .btn-search {
	right:0;
	width:25px;
}
.search-form .btn-search:before {
	left:inherit;
	right:0;
	-webkit-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	transform:translate(0,-50%);
}

.search-area {
	margin-top:37px;
	padding:0 20px 35px;
}
.search-area .recommend-area {margin-top:20px;}
.search-area .recommend-area .title {
	color:#665196;
	font-size:13px;
	font-weight:600;
}
.hashtags {
	overflow:hidden;
	margin:-5px 0 0 -10px;
}
.hashtags .tag {
	float:left;
	margin:5px 0 0 10px;
	padding:0 10px;
	border-radius:25px;
	background-color:#f7f7f7;
	color:#555;
	font-size:13px;
	line-height:24px;
}
.hashtags .tag:before {
	content:'#';
	display:inline-block;
}
.search-area .recommend-area .hashtags {padding-top:13px;}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	리스트
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 썸네일 리스트 */
.thumb-list1 {padding-top:15px;}
.thumb-list1 .thumb-item {
	display:block;
	position:relative;
	min-height:100px;
	margin-top:20px;
	padding-left:140px;
}
.thumb-list1 .thumb-item .img-area {
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	width:125px;
	height:100px;
}
.thumb-list1 .thumb-item .img-area img {
	width:100%;
}
.thumb-list1 .thumb-item .text-area {}
.thumb-list1 .thumb-item .text-area .t-title {
	padding-top:7px;
	font-size:17px;
	font-weight:900;
	line-height:1.2;
}
.thumb-list1 .thumb-item .text-area .date {
	margin-top:6px;
	color:#737373;
	font-size:13px;
	font-weight:600;
}

/* 박스 리스트 */
.box-list1 {}
.box-list1 .box-item {
	display:block;
	border-top:1px solid #dadada;
	padding:25px 20px 23px;
}
.box-list1 .box-item:first-child {border-top:0;}
.box-list1 .box-item .b-title {
	color:#111;
	font-size:17px;
	line-height:1.2;
}
.box-list1 .box-item .info-list {margin-top:10px;}
.box-list1 .box-item .info-list .item {
	color:#737373;
	font-size:15px;
}
.box-list1 .box-item .info-list .item.fcolor {
	font-weight:600;
	color:#e21c24;
}

.box-list2 {border-top:1px solid #333;}
.box-list2 .box-item {
	display:block;
	border-top:1px solid #dadada;
	padding:18px 20px 18px;
}
.box-list2 .box-item:first-child {border-top:0;}
.box-list2 .box-item .b-title {
	color:#111;
	font-size:15px;
	line-height:1.5;
}
.box-list2 .box-item .info-list {margin-top:10px;}
.box-list2 .box-item .info-list .item {
	color:#737373;
	font-size:13px;
}

/* 아코디언 리스트 */
.accordion-list1 {}
.accordion-list1 .all-len {
	padding:0 20px;
	background-color:#f7f7f7;
	font-size:12px;
	font-weight:600;
	line-height:34px;
}
.accordion-list1 .lists {}
.accordion-list1 .lists .list-item {
	border-top:1px solid #f2f2f2;
}
.accordion-list1 .lists .list-item:first-child {border-top:0;}
.accordion-list1 .lists .list-item .inquiry {
	position:relative;
	padding:15px 40px 15px 95px;
}
.accordion-list1 .lists .list-item .inquiry:before {
	content:'';
	position:absolute;
	right:20px;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:14px;
	height:8px;
	background:url(../images/common/sprite_icon.png) no-repeat -66px 0;
	background-size:250px;
}
.accordion-list1 .lists .list-item.on .inquiry:before {background-position:-81px 0;}
.accordion-list1 .lists .list-item .inquiry .value {
	position:absolute;
	left:20px;
	top:15px;
	color:#737373;
	font-size:13px;
}
.accordion-list1 .lists .list-item .inquiry .text-area {
	color:#111;
	font-weight:600;
	
}
.accordion-list1 .lists .list-item .inquiry .text-area .status {
	display:inline-block;
	height:18px;
	margin-right:8px;
	padding:0 8px;
	border-radius:25px;
	background-color:#e21c24;
	color:#fff;
	font-size:10px;
	vertical-align:2px;
}
.accordion-list1 .lists .list-item .inquiry .text-area .status.type1 {background-color:#1681c4;}
.accordion-list1 .lists .list-item .answer {
	display:none;
	padding:14px 20px 40px 95px;
}

.accordion-list1 .lists .list-item .answer.type2 {padding:0;}
.accordion-list1 .lists .list-item .answer.type2 .text-box {
	position:relative;
	background-color:#f3f3f3;
	padding:17px 20px 20px 45px;
	color:#111;
	font-size:13px;
}
.accordion-list1 .lists .list-item .answer.type2 .text-box.type2 {background-color:#ede4ea;}
.accordion-list1 .lists .list-item .answer.type2 .text-box.type3 {
	background-color:#d3cdd9;
	font-weight:600;
}
.accordion-list1 .lists .list-item .answer.type2 .text-box .fcolor {color:#e21c24;}
.accordion-list1 .lists .list-item .answer.type2 .text-box .label {
	position:absolute;
	left:20px;
	top:16px;
	font-weight:600;
}

/* 폼 리스트 */
.form-list1 {}
.form-list1 .form-item {margin-top:28px;}
.form-list1 .form-item .title {
	display:block;
	font-size:13px;
	padding-bottom:13px;
}
.form-list1 .form-item select,
.form-list1 .form-item input[type=text],
.form-list1 .form-item input[type=tel],
.form-list1 .form-item input[type=number],
.form-list1 .form-item input[type=password] {margin-top:-15px;}

/* ============================================================================================
	Layout
============================================================================================ */
html,
body,
.wrapper {}

.container {
	padding-top:55px;
	padding-bottom:35px;
}

.content {padding:0 20px;}
.content.wide {
	padding-left:0;
	padding-right:0;
}

/*
	Header
*/
.header {
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:50;
	height:55px;
}
.header.fix {background-color:rgba(255,255,255,.9);}
.header .h-logo {
	position:absolute;
	left:0;
	top:0;
	height:55px;
	width:68px;
}
.header .h-logo a {
	display:block;
	height:55px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .h-logo a:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:28px;
	height:28px;
	background:url(../images/common/sprite01.png) no-repeat 0 0;
	background-size:250px;
}
.white .header .h-logo a:before {background-position:-79px 0;}/* white */
.header.fix .h-logo a:before {background-position:0 0;}
.header .btn-page-prev {
	position:absolute;
	left:0;
	top:0;
	width:64px;
	height:55px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-page-prev:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:24px;
	height:17px;
	background:url(../images/common/sprite01.png) no-repeat -29px 0;
	background-size:250px;
}
.header .btn-gnb {
	position:absolute;
	right:0;
	top:0;
	width:60px;
	height:55px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-gnb:before,
.header .btn-gnb:after {
	content:'';
	position:absolute;
	right:20px;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	box-sizing:border-box;
}
.header .btn-gnb:before {
	width:20px;
	height:17px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
.header .btn-gnb:after {
	width:16px;
	height:1px;
	background:#000;
}
.header .btn-share {
	position:absolute;
	left:0;
	top:0;
	width:55px;
	height:55px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-share:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:17px;
	height:17px;
	background:url(../images/common/sprite01.png) no-repeat -126px 0;
	background-size:250px;
}
.white .header .btn-share:before {background-position:-108px 0;}
.header .btn-close {
	position:absolute;
	right:0;
	top:0;
	width:55px;
	height:55px;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.header .btn-close:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:17px;
	height:17px;
	background:url(../images/common/sprite01.png) no-repeat -162px 0;
	background-size:250px;
}
.white .header .btn-close:before {background-position:-144px 0;}

/* 상단 비주얼영역이 있을경우 header */
.top-visual-styled .header {background-color:transparent;}
.top-visual-styled.white .header .btn-page-prev:before {background-position:-54px 0;}
.top-visual-styled.white .header .btn-gnb:before {border-color:#fff;}
.top-visual-styled.white .header .btn-gnb:after {background-color:#fff;}

.top-visual-styled .header.fix .btn-gnb:before {border-color:#000;}
.top-visual-styled .header.fix .btn-gnb:after {background-color:#000;}

/* 상단 고정 타이틀 */
.s-title-area {
	margin-top:25px;
	height:60px;
	padding:0 20px;
}
.s-title-area .s-title {
	position:relative;
	font-size:28px;
	line-height:60px;
}
.s-title-area .s-title:before {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:25px;
	height:1px;
	background-color:#e21c24;
}
.s-title-area .sm-text {
	color:#737373;
	font-size:14px;
	margin-bottom:-18px;
}
.s-title-area.fix .sm-text {opacity:0;}

/* 상단 텍스트 영역 */
.s-text-area {padding:30px 20px 13px;}
.s-text-area .s-text {color:#737373;}
.s-text-area .s-text + .link-type1 {margin-top:12px;}

/* 상단 비주얼 영역 */
.top-visual-box {
	position:relative;
	margin-top:-55px;
}
.top-visual-box .visual-img {
	display:block;
	font-size:0;
	line-height:0;
}
.top-visual-box .visual-img img {width:100%;}
.top-visual-box .s-title-area {
	position:absolute;
	left:0;
	top:55px;
}
.top-visual-box .s-title-area .text {
	width:300px;
	height:50px;
	margin-top:25px;
}
.top-visual-box .s-title-area .text img {width:100%;}

.top-visual-styled.white .top-visual-box .s-title-area {color:#fff;}
.top-visual-styled.white .top-visual-box .s-title-area .s-title:before {background-color:#fff;}

.top-visual-box .text-area {
	position:absolute;
	left:20px;
	bottom:18%;
	color:#fff;
}
.top-visual-box .text-area .title {
	font-size:25px;
	font-weight:900;
	line-height:1.1;
}
.top-visual-box .text-area .date {
	margin-top:5px;
	font-size:17px;
	font-weight:600;
}
.top-visual-box .text-area .date .label-end {
	display:inline-block;
	margin:5px 8px 0 0;
	padding:0 10px;
	border-radius:25px;
	background-color:#5d30a6;
	font-size:10px;
	vertical-align:top;
	line-height:16px;
}

/* 스크롤시 변환 되는 해더와 타이틀 */
.header.fix {
	border-bottom:1px solid #e5e5e5;
	background-color:rgba(255,255,255,.9);
}
.header.fix .btn-page-prev:before {background-position:-29px 0 !important;}
.header.fix .btn-gnb:before {border-color:#000;}
.header.fix .btn-gnb:after {background-color:#000;}
.header.fix .btn-share:before {background-position:-126px 0;}
.header.fix .btn-close:before {background-position:-162px 0;}

.top-visual-box .s-title-area.fix {padding-top:60px;}
.s-title-area.fix .s-title {
	position:fixed;
	left:50%;
	top:0;
	z-index:55;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	color:#111;
	font-size:17px;
	line-height:55px;
}
.s-title-area.fix .s-title:before {display:none;}

/* 상세 페이지 */
.detail-page {}
.detail-page .header {
	background-color:#f7f7f7;
	border-bottom:1px solid #e6e6e6;
}
.detail-page .header .h-title {
	color:#111;
	font-size:17px;
	font-weight:900;
	text-align:center;
	line-height:55px;
}

/* ============================================================================================
	마이페이지
============================================================================================ */
/* 이벤트참여내역 > 목록 (MA-03.04.01.html) */
.mypage-view {margin-top:35px;}
.mypage-view .box-list1,
.mypage-view .accordion-list1 {border-top:1px solid #dadada;}

/* 이벤트참여내역 > 상세 (MA-03.04.02.html) */
.details-box .notice-text {
	height:56px;
	color:#fff;
	font-size:17px;
	font-weight:900;
	line-height:50px;
	border-bottom:1px solid #e5e5e5;
	background-color:#5d30a6;
	box-sizing:border-box;
	text-align:center;
}
.details-box .details-cont {padding:31px 20px 0;}
.details-box .details-cont .details-text .tit {
	color:#111;
	font-size:17px;
	font-weight:400;
	line-height:1.2;
}
.details-box .details-cont .details-text .info-list {margin-top:10px;}
.details-box .details-cont .details-text .info-list li {
	color:#737373;
	font-weight:400;
}
.details-box .details-cont .details-info {
	margin-top:35px;
	padding-top:20px;
	border-top:1px solid #dadada;
}

/* ============================================================================================
	이벤트
============================================================================================ */
/* 이벤트 상세 (MA-07.01.02) */
.bullet-dl {}
.bullet-dl dt {
	position:relative;
	margin-top:25px;
	padding-left:10px;
	font-size:17px;
	font-weight:900;
	line-height:1.2;
}
.bullet-dl dt:before {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:5px;
	height:5px;
	border-radius:50%;
	background-color:#5d30a6;
}
.bullet-dl dt.none {padding-left:0;}
.bullet-dl dt.none:before {display:none;}
.bullet-dl dd {
	margin-top:10px;
	color:#737373;
}
.bullet-dl dd .info-list {margin-top:5px;}
.bullet-dl dd .info-list li {
	margin-left:15px;
	font-size:13px;
	text-indent:-15px;
}

.newly-event-list {
	position:relative;
	margin-top:34px;
	padding-top:28px;
	border-top:1px solid #ccc;
}
.newly-event-list .newly-title {
	font-size:17px;
	font-weight:900;
}
.newly-event-list .link-list {
	position:absolute;
	right:0;
	top:30px;
	padding-right:12px;
	font-size:12px;
	font-weight:600;
	line-height:1.6;
}
.newly-event-list .link-list:before {
	content:'';
	position:absolute;
	right:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:6px;
	height:10px;
	background:url(../images/common/sprite_icon.png) no-repeat -42px 0;
	background-size:250px;
}
.newly-event-list .thumb-list1 {
	margin-top:-7px;
	padding-top:0;
}

/* 당첨자발표 (MA-07.03.01.html) */
.event-view {
	margin-top:35px;
}

/* ============================================================================================
	고객센터 (customer)
============================================================================================ */
/* 공지사항 목록 (MA-08.01.01) */
.customer-view {margin-top:50px;}

/* 공지사항 > 상세 (MA-08.01.02) */
.notice-view .notice-text {padding:32px 20px 30px;}
.notice-view .notice-text .tit {
	color:#111;
	font-size:17px;
	font-weight:400;
	line-height:1.2;
}
.notice-view .notice-text .info-list {margin-top:10px;}
.notice-view .notice-text .info-list li {
	color:#737373;
	font-weight:400;
}
.notice-view .notice-info {
	padding:0 20px; 
	border-top:1px solid #d9d9d9;
}
.notice-view .notice-info .info-tit {
	padding:18px 0 14px; 
	color:#111;
	font-size:19px;
	font-weight:600;
}

/* 지점안내 (MA-08.04) */
.point-box {border-top:1px solid #333;}
.point-box .point-text {
	margin-top:20px;
	padding:20px 20px;
}
.point-box .point-text .point-tit {
	color:#333;
	font-weight:600;
	line-height:1.5;
}
.point-box .point-text .point-list {margin-top:6px;}
.point-box .point-text .point-list .item {
	color:#555;
	font-weight:400;
	line-height:1.5;
}
.point-box .point-map {margin-bottom:-35px;}

/* 고객상담 (MA-08.03.01.html) */
.advice-view {margin-top:10px;}
.advice-box .advice-item {
	display:block;
	position:relative;
	padding:20px 36px 20px 97px;
	border-bottom:1px solid #f2f2f2;
}
.advice-box .advice-item:after,
.advice-box .advice-item::after {
	content:'';
	display:block;
	position:absolute;
	right:20px;
	top:50%;
	width:8px;
	height:14px;
	margin-top:-7px;
	background:url(../images/common/sprite_icon.png) no-repeat 0 0;
	background-position:-96px 0;
	background-size:250px;
}
.advice-box .advice-item:before,
.advice-box .advice-item::before {
	content:'';
	display:block;
	position:absolute;
	left:37px;
	top:25px;
	background:url(../images/common/sprite_icon.png) no-repeat 0 0;
	background-size:250px;
}
.advice-box .advice-item.advice1:before,
.advice-box .advice-item.advice1::before {
	left:34px;
	width:35px;
	height:39px;
	background-position:-40px -99px;
}
.advice-box .advice-item.advice2:before,
.advice-box .advice-item.advice2::before {
	width:45px;
	height:42px;
	background-position:-76px -99px;
}
.advice-box .advice-item.advice3:before,
.advice-box .advice-item.advice3::before {
	width:41px;
	height:37px;
	background-position:-122px -99px;
}
.advice-box .advice-item .tit {
	color:#111;
	font-weight:600;
}
.advice-box .advice-list .item p {
	color:#737373;
	font-weight:400;
}


/* */
.wrapper.signup .container {
	padding-top:35px;
}
.wrapper.signup .s-title-area {
	margin-top:0;
}

.step-bar {
	overflow:hidden;
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:55;
	background-color:#ebebeb;
}
.step-bar .bar {
	float:left;
	width:33%;
	height:3px;
}
.step-bar .bar:first-child {width:34%;}
.step-bar .bar.on {background-color:#e21c24;}
.step-bar .bar {}
.step-bar {}

.wrapper.signup {}
.wrapper.signup {}
.wrapper.signup {}
.wrapper.signup {}