@charset 'utf-8';

/* ============================================================================================
	롯데카드소개 (company)
============================================================================================ */
/* 회사개요 (summary01.html) */
.info-text-area {padding-top:25px;}
.info-text-area .text01 {
	padding-top:5px;
	color:#111;
	font-weight:600;
}
.info-text-area .text02 {
	padding-top:5px;
	color:#555;
}