@charset 'utf-8';

/* ============================================================================================
	고객센터 (customer)
============================================================================================ */
/* 고객상담 (MA-08.03.01) */
.talk-box .talk-list {}
.talk-box .talk-list .item {
	position:relative;
	padding:25px 36px 25px  97px;
	border-bottom:1px solid #f2f2f2;
}
.talk-box .talk-list .item:after,
.talk-box .talk-list .item::after {
	content:'';
	display:block;
	position:absolute;
	right:20px;
	top:50%;
	width:8px;
	height:14px;
	margin-top:-7px;
	background:url(../images/common/sprite_icon.png) no-repeat 0 0;
	background-position:0 0;
}
.talk-box .talk-list .item:before,
.talk-box .talk-list .item::before {
	content:'';
	display:block;
	position:absolute;
	left:37px;
	top:25px;
	background:url(../images/common/sprite_icon.png) no-repeat 0 0;
}
.talk-box .talk-list .item.talk1:before,
.talk-box .talk-list .item.talk1::before {
	left:34px;
	width:35px;
	height:39px;
	background-position:79px 198px;
}
.talk-box .talk-list .item.talk2:before,
.talk-box .talk-list .item.talk2::before {
	width:45px;
	height:42px;
	background-position:151px 198px;
}
.talk-box .talk-list .item.talk3:before,
.talk-box .talk-list .item.talk3::before {
	width:41px;
	height:37px;
	background-position:243px 198px;
}
.talk-box .talk-list .item .tit {
	color:#111;
	font-weight:600;
}
.talk-box .talk-list .item p {
	color:#737373;
	font-weight:400;
}