@charset 'utf-8'; /* 메인 */

/* ============================================================================================
	로그인 전
============================================================================================ */
html,
body,
.wrapper {background-color:#5d30a6;}

/* Header */
.header {background-color:transparent;}
.header .h-logo a:before {background-position:-79px 0;}
.header .btn-gnb:before {border-color:#fff;}
.header .btn-gnb:after {background-color:#fff;}

/* Container */
.container {
	padding-top:0;
	padding-bottom:0;
}

/* 상단 슬라이드 영역 */
.top-visual-area {
	min-height:300px;
	background-image:url(../images/bg/bg_main_top.png), linear-gradient(#5f3492, #49479b);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:100%;
}
.top-visual-area .swiper-container {padding-bottom:40px;}
.top-visual-area .swiper-slide {padding:65px 25px 0;}
.top-visual-area .swiper-slide.type2 {padding-top:110px;}
.top-visual-area .card-box {
	position:relative;
	height:195px;
	border-radius:5px;
	background-color:#bc396e;
	box-shadow:0px 0px 16px 4px rgba(0,0,0,.3);
}
.top-visual-area .card-box.box1 {}
.top-visual-area .card-box.box2 {
	background:#bc396e url(../images/main/bg_visual01.png) no-repeat 100% 100%;
	background-size:138px;
}
.top-visual-area .card-box.box3 {
	background:#bc396e url(../images/main/bg_visual02.png) no-repeat 100% 100%;
	background-size:120px;
}
.top-visual-area .card-box.box4 {
	background:url(../images/main/bg_visual03.png) no-repeat 0 0;
	background-size:100% 100%;
}
.top-visual-area .card-box.box5 {
	background:url(../images/main/bg_visual04.png) no-repeat 0 0;
	background-size:100% 100%;
}

.top-visual-area .card-box .box-inner {
	position:absolute;
	left:20px;
	right:20px;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	color:#fff;
}
.top-visual-area .card-box .box-inner .title {
	font-size:20px;
	line-height:26px;
}
.top-visual-area .card-box .box-inner .text {
	margin-top:5px;
	font-size:13px;
}

.top-visual-area .card-box .write-box {
	overflow:hidden;
	margin-top:10px;
	background-color:rgba(17,17,17,.4);
}
.top-visual-area .card-box .write-box .box {
	float:left;
	width:50%;
	padding:7px 0 9px 10px;
	box-sizing:border-box;
}
.top-visual-area .card-box .write-box .box:first-child {border-right:1px solid rgba(255,255,255,.1);}
.top-visual-area .card-box .write-box .label {font-size:13px;}
.top-visual-area .card-box .write-box input[type=text],
.top-visual-area .card-box .write-box input[type=number],
.top-visual-area .card-box .write-box input[type=tel] {
	background-color:transparent;
	height:20px;
	padding:0;
	border:0;
	color:#fff;
	font-size:15px;
}

.top-visual-area :-ms-input-placeholder {color:rgba(255,255,255,.2);}
.top-visual-area ::-webkit-input-placeholder {color:rgba(255,255,255,.2);}
.top-visual-area ::-moz-placeholder {color:rgba(255,255,255,.2);}

.top-visual-area .card-box .aligin-right {
	margin-top:5px;
	text-align:right;
}
.top-visual-area .card-box .aligin-right .link {
	position:relative;
	padding-right:21px;
	color:#fff;
	font-size:17px;
}
.top-visual-area .card-box .aligin-right .link:before {
	content:'';
	position:absolute;
	right:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:16px;
	height:16px;
	background:url(../images/common/sprite_icon.png) no-repeat 0 0;
	background-size:250px;
}

/* 박스 메뉴 영역 */
.box-menu-area {
	overflow:hidden;
	position:relative;
	background-color:#fff;
}
.box-menu-area:before {
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:50%;
	height:1px;
	background-color:#e0e0e0;
}
.box-menu-area .menu-item {
	float:left;
	position:relative;
	width:33.33333333333333%;
	height:110px;
	margin-left:-1px;
	box-sizing:border-box;
	border-left:1px solid #e0e0e0;
	text-align:center;
}
.box-menu-area .menu-item .text {
	display:block;
	position:absolute;
	left:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:100%;
	padding-top:55px;
	color:#111;
	font-size:12px;
	line-height:1.2;
}

.box-menu-area .menu-item .text:before {
	content:'';
	position:absolute;
	left:50%;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	background-image:url(../images/common/sprite_icon.png);
	background-repeat:no-repeat;
	background-size:250px;
}
.box-menu-area .menu-item.item01 .text:before {
	top:0;
	width:44px;
	height:44px;
	background-position:0 -16px;
}
.box-menu-area .menu-item.item02 .text:before {
	top:5px;
	width:47px;
	height:39px;
	background-position:-45px -16px;
}
.box-menu-area .menu-item.item03 .text:before {
	top:5px;
	width:39px;
	height:38px;
	background-position:-93px -16px;
}
.box-menu-area .menu-item.item04 .text:before {
	top:10px;
	width:29px;
	height:35px;
	background-position:-133px -16px;
}
.box-menu-area .menu-item.item05 .text:before {
	top:10px;
	width:35px;
	height:35px;
	background-position:-163px -16px;
}
.box-menu-area .menu-item.item06 .text:before {
	top:8px;
	width:38px;
	height:39px;
	background-position:-199px -16px;
}
.box-menu-area .menu-item.item07 .text:before {
	top:10px;
	width:39px;
	height:32px;
	background-position:0 -62px;
}
.box-menu-area .menu-item.item08 .text:before {
	top:7px;
	width:34px;
	height:36px;
	background-position:-40px -62px;
}
.box-menu-area .menu-item.item09 .text:before {
	top:10px;
	width:37px;
	height:35px;
	background-position:-75px -62px;
}
.box-menu-area .menu-item.item10 .text:before {
	top:15px;
	width:34px;
	height:35px;
	background-position:-113px -62px;
}
.box-menu-area .menu-item.item11 .text:before {
	top:20px;
	width:31px;
	height:31px;
	background-position:-148px -62px;
}
.box-menu-area .menu-item.item12 .text:before {
	top:16px;
	width:33px;
	height:35px;
	background-position:-180px -62px;
}

/* 하단 sign 영역 */
.sign-box-area {
	padding:10px 0;
	color:#fff;
	text-align:center;
}
.sign-box-area .text {
	font-size:15px;
}
.sign-box-area .link-sign {
	display:inline-block;
	color:#fff;
	font-size:15px;
	font-weight:600;
}
.sign-box-area .btn-sign {
	display:inline-block;
	position:relative;
	margin-left:10px;
	padding:0 25px;
	border-radius:25px;
	border:1px solid #fff;
	color:#fff;
	font-size:14px;
	font-weight:600;
	line-height:25px;
}

/* 340px 이하 */
@media only screen and (max-width: 340px) {
	/* 상단 슬라이드 영역 */
	.top-visual-area .swiper-slide {
		padding-left:15px;
		padding-right:15px;
	}
	.top-visual-area .card-box .box-inner .title {font-size:18px;}
	.top-visual-area .card-box .box-inner .text {font-size:12px;}
	.top-visual-area .card-box .write-box .label {font-size:11px;}
	.top-visual-area .card-box .write-box input[type=text],
	.top-visual-area .card-box .write-box input[type=number],
	.top-visual-area .card-box .write-box input[type=tel] {font-size:13px;}

	/* 빠른 메뉴 */
	.quick-menu:before {right:5px;}
	.quick-menu .menu-item {font-size:15px;}

	.sign-box-area .sign-box .text {font-size:13px;}
	.sign-box-area .sign-box .link-sign {font-size:13px;}
	.sign-box-area .sign-box .btn-sign {font-size:12px;}
}


/* ============================================================================================
	로그인 후
============================================================================================ */
html.login ,
.login body,
.login .wrapper {
	background-color:#fff;
}

/* 상단 정보 출력 영역 */
.top-info-area {
	margin-top:-5px;
	color:#fff;
	text-align:center;
}
.top-info-area .photo-area {
	width:45px;
	height:45px;
	margin:0 auto;
	font-size:0;
	line-height:0;
}
.top-info-area .photo-area img {
	width:100%;
	height:100%;
}
.top-info-area .t-title {
	margin-top:20px;
	font-size:23px;
	font-weight:900;
}
.top-info-area .amount-area {margin-top:8px;}
.top-info-area .amount-area .text {
	font-size:15px;
	opacity:.6;
}
.top-info-area .amount-area .link-price {
	display:inline-block;
	position:relative;
	padding-right:12px;
	color:#fff;
	font-size:18px;
	line-height:1.2;
}
.top-info-area .amount-area .link-price:before {
	content:'';
	position:absolute;
	right:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	width:7px;
	height:12px;
	background:url(../images/common/sprite_icon.png) no-repeat -34px 0;
	background-size:250px;
}
.top-info-area .amount-area .link-price .price {
	font-size:33px;
	font-weight:900;
}
.top-info-area .text-area {
	margin-top:26px;
	font-size:15px;
	line-height:1.5;
}
.top-info-area .payment-total {margin-top:25px;}
.top-info-area .payment-total .item {
	overflow:hidden;
	color:#9191c4;
	font-size:14px;
	line-height:2;
}
.top-info-area .payment-total .item strong {font-weight:600;}
.top-info-area .payment-total .item .title {float:left;}
.top-info-area .payment-total .item .price {float:right;}