@charset 'utf-8';

/* ============================================================================================
	롯데카드소개
============================================================================================ */
/* CEO인사말 */
.ceo-box .s-title-area {
	margin-top:20px;
}
.ceo-box .text.type2 {
	height:17px;
	margin-top:21px;
	color:#8b8a90;
	font-size:10px;
	font-weight:400;
}
.ceo-box .text.type2 .name {
	display:inline-block;
	width:62px;
	height:17px;
	margin-left:5px;
	vertical-align:bottom;
}
.ceo-text-area .text02 {padding-top:12px;}